{
    "converse": {
        "default": {
            "generic": [
                "We didn't know about what happened to the Protectorate until a bit after it fell.",
                "Everything has been oddly surreal nowadays.",
                "Since the destruction of the Protectorate, things inside the habitat have stopped being boring.",
                "It feels weird knowing about the Protectorate's situation while being unable to do anything.",
                "My first instinct when hearing about the fall of the Protectorate was to leave the habitat, I didn't because I simply can't.",
                "And just when I thought my time in this place was close to an end, the Protectorate gets completely destroyed.",
                "I've been very anxious about our current situation, what if the habitat breaks and we need supplies that now we can't get?",
                "I'm just hoping that the habitat doesn't start to malfunction right now.",
                "What if everything that's been happening is just an extremely elaborate joke?",


                "I don't know how to feel about the Astraeus program taking the steering wheel now.",
                "I have been interacting with Envoys more than ever before.",
                "It's really a miracle that the 21st Astraeus Fleet didn't get destroyed alongside Earth and the rest of the Protectorate.",
                "Envoys come and go frequently around here, you don't stop meeting new people!",
                "I have even more respect for the Envoys now, they have to endure the weight of the Protectorate all on their own now.",
                "Thankfully, the Envoys have been doing rounds consistently at our habitat, makes me feel less lonely.",
                "To think that now our habitats are getting more attention is both exciting and also concerning.",
                "I'm just glad the Envoys are helping us out, I would have gone mad thinking of being alone in this place!",
                "Well, it's good to know the Envoys are doing the best they can.",
                "With the help of the 21st Astraeus fleet, I'm sure the Protectorate will be back on its feet soon!",

                "Did you know Artificial Biospheres are modular? They can be expanded and modified as needed.",
                "Yes, habitats like these need to be very big despite such a small crew.",
                "Artificial habitats are not really open to the public, not until now at least.",
                "There was a lot of paperwork before the fall of the Protectorate, I don't really miss that part!",
                "Failure? Well yes, that could happen, thankfully this Biosphere has not failed us yet.",

                "Going from a few couple of people living here to being very crowded has been a wild transition.",
                "Habitats were not made to support more than a handful of people inside, this situation is getting me anxious.",
                "I don't know if I want Biospheres to be more significant than they were, not that I oppose.",
                "Makes sense to choose Biospheres as strategic places, their modularity is certainly a game changer.",
                "I swear yesterday we were just bored to death, now we have to run this place as if it was a commercial plaza!",

                "Sometimes habitats can be used temporarily, like, if we want to restore a declining population of an important plant, tree, or animal.",
                "Sometimes habitats are permanent, such as when we have to save endemic ecosystems, however, we still try to find a place somewhere else to transplant them.",
                "I have heard some ecosystems end up dying anyways despite our efforts, sometimes that's just how things go.",
                "No habitat is impervious to damage or decay, that's why we always try to find places to safely reinsert these ecosystems.",
                "Biospheres are technological wonders, we barely have to do anything!",

                "There have not been any technical problems so far, but I wouldn't rule them out, honestly.",
                "Last week we had to repair our shield, which has been the only thing protecting us!",
                "Modules fail from time to time, good thing each one has their own generator.",
                "Our medical bay had to be replaced last time, we can't afford to lose that module in particular yet again!",
                "I'm worried all of these new functions could overload the Biosphere's systems.",

                "I was told we had to give priority to storage modules and modified quarter room modules, mostly for people!",
                "I'm not into the idea of having more people in this place, I'm just not used to it!",
                "Ah, are you looking into getting a place here? I suppose we can make accommodations.",
                "If you know of people who need a place to stay, you can inform them we have some space for them here.",
                "The crew capacity of the Biosphere can, theoretically, sustain a population of 200. Theoretically.",

                "Volunteers? Yes, I have seen them here from time to time.",
                "Not many volunteers here around really, Envoys tend to stop by here more than anything.",
                "Most volunteers are helping out on camp sites and ships, they don't tend to be here that often.",
                "I suppose you can sign up here for the Volunteer program, if anything I'll just have to call some people over to come and onboard you.",
                "Envoys visit us so often that there's no need for extra help from volunteers, most of them just pass by."
            ]
        },
"floran": {
            "generic": [
                "Floran didn't know about what happened to the Protectorate until a bit after it fell.",
                "Everything has felt like a dream nowadays.",
                "<selfname> thinks things are less boring since the destruction of the Protectorate.",
                "Feelss weird knowing about the Protectorate's situation while being unable to do anything.",
                "<selfname> first instinct when hearing about the fall of the Protectorate was to leave the habitat, but, where would <selfname> go?",
                "And just when <selfname> thought floran's time in this place was clossse to an end the Protectorate gets completely destroyed.",
                "<selfname> is very anxious about our current situation, what if the habitat breaks and we can't fix it?",
                "<selfname> hopess the habitat doesn't start to malfunction right now.",
                "What if everything that's been happening is just an extremely elaborate trick?",

                "<selfname> doesn't know how to feel about Envoyss being in charge.",
                "<selfname> has interacted with Envoyss more than ever in <selfname>'s life.",
                "It's a miracle that the 21st Astraeus Fleet didn't get destroyed with Earth and the Protectorate.",
                "Envoyss come and go frequently here around, you don't stop meeting new people!",
                "<selfname> has more respect for Envoyss now, they have to endure the weight of the Protectorate all on their own now.",
                "Thankfully, Envoyss have been doing roundss consistently here, makess <selfname> feel less lonely.",
                "It's great that now our habitats are getting more attention, it's also somewhat concerning.",
                "<selfname> is glad Envoyss are helping us, <selfname> would have gone mad thinking of being alone in this place!",
                "Well, it's good to know the Envoyss are doing the best they can.",
                "With the help of the 21ssst Astraeus fleet, the Protectorate will surely be back in the hunt again!",

                "Did you know Artificial Biospheres are modular? They can be expanded and modified as needed.",
                "Yesss, habitats like these need to be very big despite such a small crew.",
                "Artificial habitatss are not really open to public, not until now at least.",
                "There was a lot of paperwork before the fall of the Protectorate, <selfname> doesn't miss that part!",
                "Failure? Well yes, that could happen, thankfully this Biosphere has not failed usss yet.",

                "Going from a few couple of people living here to being very crowded is not easy to get used to.",
                "Habitatss were not made to support more than a handful of people inside, this situation is getting <selfname> anxious.",
                "<selfname> doesn't know if Biospheres should be more significant than what they were, not that <selfname> opposes.",
                "Makes sense to choose Biospheres as important places, their modularity is certainly an advantage.",
                "<selfname> remembers being bored to death yesterday, now we have to run this place as if it was a hunting party!",

 
                "Sometimess habitats can be used temporarily, like, if we want to restore a declining population of an important plant, tree, or animal.",
                "Sometimes habitats are permanent, such as when we have to save endemic ecosystems, however, we still try to find a place somewhere else to transplant them.",
                "<selfname> has heard some ecosystemsss end up dying despite our efforts, nature is that way more often than not.",
                "No habitat is impervious to damage or decay, that's why we always try to find places where to safely reinsert these ecosystemss.",
                "Biospheres are technological wonders, we barely have to do anything!",

                "No technical problems so far, but <selfname> wouldn't rule them out to in all honesty.",
                "Last week we repaired our shield, which is the only thing making this place ssafe!",
                "Modules fail from time to time, good thing each one hasss their own generator.",
                "Our medical bay had to be replaced last time, we can't really lose that module again!",
                "<selfname> fears all of these new functions could overload Biosphere’s systemsss.",


                "<selfname> was told Floran had to give priority to storage modules and modified quarter room modules too, mostly for people!",
                "<selfname> doesn't like it when too many people in one place, <selfname> not used to it!",
                "Are you looking for a place here? I suppose we can make accommodationss.",
                "If you know of people who need a place to sstay, you can tell them we have some space for them here.",
                "The crew capacity of the Biosphere can, theoretically, sustain a population of 200. Theoretically.",

                "Volunteersss? Yes, <selfname> has seen them here from time to time.",
                "Not many volunteersss around here, Envoyss tend to stop by here more than anything.",
                "Most volunteersss are helping on camps and shipss, they don't tend to be here.",
                "<selfname> guesses you can sign up here for the Volunteer program, if anything <selfname> just has to contact some people to come and get you.",
                "Envoyss visit us so often that there's no need of extra help from volunteers, most of them just visit uss."
            ],
            "default": [
                "Ssstrange thing."
            ]
        },
        "glitch": {
            "generic": [
               "Explicative. We didn't know about what happened to the Protectorate until a bit after it fell.",
"Reflective. Everything has been oddly surreal nowadays.",
"Reflective. Since the destruction of the Protectorate, things inside the habitat have stopped being boring.",
"Guilt. It feels weird knowing about the Protectorate's situation while being unable to do anything.",
"Resigned. My first instinct when hearing about the fall of the Protectorate was to leave the habitat, I didn't because I simply can't.",
"Frustrated. And just when I thought my time in this place was close to an end, the Protectorate gets completely destroyed.",
"Anxious. I've been very anxious about our current situation, what if the habitat breaks and we need supplies that now we can't get?",
"Worried. I'm just hoping that the habitat doesn't start to malfunction right now.",
"Irritated. What if everything that's been happening is just an extremely elaborate joke?",

"Unsure. I don't know how to feel about the Astraeus program taking the steering wheel now.",
"Amazed. I have been interacting with Envoys more than ever before.",
"Impressed. It's really a miracle that the 21st Astraeus Fleet didn't get destroyed alongside Earth and the rest of the Protectorate.",
"Uplifted. Envoys come and go frequently around here, you don't stop meeting new people!",
"Admiration. I have even more respect for the Envoys now, they have to endure the weight of the Protectorate all on their own now.",
"Uplifted. Thankfully, the Envoys have been doing rounds consistently at our habitat, makes me feel less lonely.",
"Conflicted. To think that now our habitats are getting more attention is both exciting and also concerning.",
"Relieved. I'm just glad the Envoys are helping us out, I would have gone mad thinking of being alone in this place!",
"Uplifted. Well, it's good to know the Envoys are doing the best they can.",
"Hopeful. With the help of the 21st Astraeus fleet, I'm sure the Protectorate will be back on its feet soon!",

"Explicative. Did you know Artificial Biospheres are modular? They can be expanded and modified as needed.",
"Explicative. Yes, habitats like these need to be very big despite such a small crew.",
"Concerned. Artificial habitats are not really open to the public, not until now at least.",
"Relieved. There was a lot of paperwork before the fall of the Protectorate, I don't really miss that part!",
"Confident. Failure? Well yes, that could happen, thankfully this Biosphere has not failed us yet.",

"Exhausted. Going from a few couple of people living here to being very crowded has been a wild transition.",
"Concerned. Habitats were not made to support more than a handful of people inside, this situation is getting me anxious.",
"Resigned. I don't know if I want Biospheres to be more significant than they were, not that I oppose.",
"Reflective. Makes sense to choose Biospheres as strategic places, their modularity is certainly a game changer.",
"Annoyed. I swear yesterday we were just bored to death, now we have to run this place as if it was a commercial plaza!",

"Explicative. Sometimes habitats can be used temporarily, like, if we want to restore a declining population of an important plant, tree, or animal.",
"Explicative. Sometimes habitats are permanent, such as when we have to save endemic ecosystems, however, we still try to find a place somewhere else to transplant them.",
"Resigned. I have heard some ecosystems end up dying anyways despite our efforts, sometimes that's just how things go.",
"Descriptive. No habitat is impervious to damage or decay, that's why we always try to find places to safely reinsert these ecosystems.",
"Confident. Biospheres are technological wonders, we barely have to do anything!",

"Concerned. There have not been any technical problems so far, but I wouldn't rule them out, honestly.",
"Worried. Last week we had to repair our shield, which has been the only thing protecting us!",
"Relieved. Modules fail from time to time, good thing each one has their own generator.",
"Distressed. Our medical bay had to be replaced last time, we can't afford to lose that module in particular yet again!",
"Worried. I'm worried all of these new functions could overload the Biosphere's systems.",

"Descriptive. I was told we had to give priority to storage modules and modified quarter room modules, mostly for people!",
"Distressed. I'm not into the idea of having more people in this place, I'm just not used to it!",
"Insightful. Ah, are you looking into getting a place here? I suppose we can make accommodations.",
"Informative. If you know of people who need a place to stay, you can inform them we have some space for them here.",
"Reflective. The crew capacity of the Biosphere can, theoretically, sustain a population of 200. Theoretically.",

"Reflective. Volunteers? Yes, I have seen them here from time to time.",
"Explicative. Not many volunteers here around really, Envoys tend to stop by here more than anything.",
"Informative. Most volunteers are helping out on camp sites and ships, they don't tend to be here that often.",
"Informative. I suppose you can sign up here for the Volunteer program, if anything I'll just have to call some people over to come and onboard you.",
"Explicative. Envoys visit us so often that there's no need for extra help from volunteers, most of them just pass by."
            ],
            "default": [
                "Confusion. What manner of being are you?"
            ]
        },
"novakid": {
            "generic": [
                "We didn't know about what happened to the Protectorate until a bit after it fell.",
                "Everything has been dreamy lately, like a desert mirage.",
                "Since the fall of the Protectorate things here sure are more interestin'.",
                "Feels weird knowing about the Protectorate’s situation while being unable to do anything.",
                "My first instinct when heard about the fall of the Protectorate was to leave, I didn't because I just can’t.",
                "And when I thought my time in this place was close to end the Protectorate is just blown to smithereens.",
                "I've been uneasy about our current situation, what if this place goes to hell and we can't do anythin'?",
                "I'm just hoping that the habitat ain't start malfunctioning now.",
                "What if everything that’s been happenin' is just an elaborate prank?",

                "Ain't sure how to feel about the Astreus program takin’ the lead.",
                "I've been interactin' with Envoys more than ever in my life.",
                "It's really a miracle that the 21st Astraeus Fleet didn't get blown up with Earth and the rest of the Protectorate.",
                "Envoys come and go frequently ‘round here, you don't stop meeting new people!",
                "I have more respect for the Envoys now, they’ve had to endure the weight of the Protectorate all on their own nowadays.",
                "Envoys have been doing rounds consistently at our habitat, makes me feel less lonely.",
                "To think that now our habitats are gettin' more attention is both amazing and also concerning.",
                "I'm just glad the Envoys are helping us out, I would have gone mad thinking of being alone in this place!",
                "Well, it's good to know the Envoys are doing the best they can.",
                "With the help of the 21st Astraeus fleet, the Protectorate will surely get back in the saddle soon!",

                "Did you know Artificial Biospheres are modular? They can be customized as needed.",
                "Yes, habitats like these need to be very big despite such a small crew.",
                "Artificial habitats are not really open to the public, not until now at least.",
                "There was a lot of paperwork before the fall of the Protectorate, ain't missin' that part!",
                "Failure? Yeah, that could happen, thankfully this Biosphere has not failed us yet.",

                "Going from a few couple of people livin' here to being very crowded is a sure wild transition.",
                "Habitats were not made to support more than a handful of people inside, this situation is getting me anxious.",
                "Ain't sure if I want Biospheres to be more significant than they were, not that I oppose.",
                "Makes sense to choose Biospheres as strategic places, their modularity is certainly a game changer.",
                "I swear yesterday we were just bored to death, now we have to run this place like it was a rodeo!",


                "Sometimes habitats can be used temporarily, like, if we want to restore a declinin’ population of an important plant, tree or, critter.",
                "Sometimes habitats are permanent, such as when we save endemic ecosystems, however, we still try to find a place somewhere else to transplant them.",
                "I have heard some ecosystems end up dying anyways despite our efforts, sometimes that’s the way the cookie crumbles.",
                "No habitat is impervious to damage or decay, that's why we always try to find places where to safely reinsert these ecosystems.",
                "Biospheres are technological wonders, we barely have to do anything!",

                "There have not been any technical problems so far, but I wouldn't rule them out, honestly.",
                "Last week we had to repair our shield, which has been the only thing protectin’ us!",
                "Modules fail from time to time, good thing each one has their own generator.",
                "Our medical bay had to be replaced last time, we can't afford to lose that modile in particular again!",
                "I'm afraid all of these new functions could overload the Biosphere systems.",

                "I was told we had to give priority to storage modules and modified quarter room modules too, mostly for people!",
                "I'm not into the idea of crowdin' this place, I'm jus’ not used to it!",
                "Ah, are you looking into gettin' a place here? I suppose we can make accommodations.",
                "If you know of people who need a place to hunker down, you can inform them we have some space for them here.",
                "The crew capacity of the Biosphere can, theoretically, sustain a population of 200. Theoretically.",

"Volunteers? Yes, I’ve seen them here from time to time.",
                "Not many volunteers ‘round her really, Envoys tend to stop by here more than anything.",
                "Most volunteers are helping out on camp sites and ships, they don't tend to be here that often.",
                "I suppose you can sign up here for the Volunteer program, if anything I’ll just have to holler for some people to come and hire you.",
                "Envoys visit us so often that there's no need for extra help from volunteers, most of them just pass by."

            ],
            "default": [
                "I ain't seen any folk like you before. What in tarnation are you?"
            ]
        }
    }
}
