{
  "accuse" : {
    "default" : {
      "default" : [
        "Hey! That's not yours!",
		"Drop it, now!",
		"Does it has your name in it?",
		"What are you doing?",
		"You think I'm gonna let this pass?",
		"Don't take what isn't yours!",
        "That's not yours, leave it now!",
        "Don't you even dare!",
		"Why are you taking that?",
		"I will not tolerate you stealing things!",
		"Hey hey hey, what are you doing?"
      ]
    },
    "floran" : {
      "default" : [
        "Hey! That's not yoursss!",
		"Drop it, now!",
		"Does it hasss your name in it?",
		"What are you doing?",
		"You think Floran gonna let this passs?",
		"Don't take what isn't yoursss!",
        "Not yoursss, leave it now!",
        "Don't you even dare!",
		"Why are you taking that?",
		"Floran will not tolerate you stealing thingsss!",
		"Heeey, what are you doing?"
      ]
    },
    "glitch" : {
      "default" : [
        "Aghast. That's not yours!",
		"Horrified. Drop that, now!",
		"Bewildered. Does it even has your name in it?",
		"Apalled. What are you doing?",
		"Restless. You think I will let this pass?",
		"Angry. Don't take what isn't yours!",
        "Shocked. That's not yours, leave it now!",
        "Awestruck. Don't you even dare!",
		"Surprised. Why are you taking that?",
		"Intolerant. I will not tolerate you stealing things!",
		"Astonished. What you think are you doing?"
      ]
    }
  },
  "alert" : {
    "default" : {
      "default" : [
        "That's it! Guards! There's a thief here!",
		"Oh no you won't! Guaards!",
		"Stop them now!",
		"Guards! Right here!",
		"Somebody help! There's a robber in front of me!",
		"You shouldn't had done that! Guards!",
		"Guards quickly! There's robbery right here!",
		"Please somebody stop this person!",
		"I told you to not take things from others! Guards!",
		"You leave me no choice! Guaards!",
		"I can't tolerate this anymore! Guards!",
		"There's a crime! Help!",
		"Stop! Somebody make them stop!",
		"Why are you like this!? Guards!",
		"No more! Guards!"
      ]
    },
    "floran" : {
      "default" : [
        "That'ss it! Guards! There'ss a thief here!",
		"Oh no you won't! Guaardss!",
		"Stop them now!",
		"Guardsss! Right here!",
		"Ssomebody help! Floran is witnessing a crime!",
		"You shouldn't had done that! Guardsss!",
		"Guardss quickly! There's robbery right here!",
		"Please ssomebody stop this perssson!",
		"Floran told you to not take thingss from others! Guardsss!",
		"You leave Floran no choice! Guaardsss!",
		"Floran can't tolerate this anymore! Guardsss!",
		"There'ss a crime! Help!",
		"Sstop! Somebody make them sstop!",
		"Why are you like thiss!? Guardsss!",
		"No more! Guardss!"
      ]
    },
    "glitch" : {
      "default" : [
        "Incensed. That's enought! Guards! There's a thief here!",
		"Irate. You won't get away! Guaards!",
		"Indignant. Stop them now!",
		"Alarmed. Guards! Right here!",
		"Panicked. Help! There's a robber in front of me!",
		"Indignant. You shouldn't had done that! Guards!",
		"Nervous. Guards quickly! There's robbery right here!",
		"Panicked. Please somebody stop this person!",
		"Enraged. I told you to not take things from others! Guards!",
		"Fearful. You leave me no choice! Guaards!",
		"Irritated. I can't tolerate this anymore! Guards!",
		"Alarmed. There's a crime! Help!",
		"Freaked out. Stop! Somebody make them stop!",
		"Worried. Why are you like this!? Guards!",
		"Intolerant. No more! Guards!"
      ]
    }
  }
}
