{
    "greeting": {
        "default": {
            "default": [
                "Sorry. I didn't notice you there.",
                "Oh, a new visitor! Welcome to our ship!",
                "Did you come to join the Volunteer program?",
                "Oh, are you a new volunteer?",
                "Evening! Are you here to see the captain?",
                "Greetings! The captain is in the control bay.",
                "Are you looking for the captain?",
                "Just so you know, the captain may be busy right now.",
                "Hello! It's always exciting to see a new face.",
                "I don't think we have met, have we?",
                "You just arrived, right?",
                "Oh! Hello! What's your name?"
            ]
        },
        "floran": {
            "default": [
                "<selfname> did not notice you there. Sssorry.",
                "New visitor! Welcome to our ssship!",
                "Did you come to join the Volunteer program?",
                "Are you a new volunteer?",
                "Evening! Are you here to sssee the captain?",
                "Greetingss! The captain is in the control bay.",
                "Are you looking for the captain?",
                "Jussst so you know, the captain may be busy right now.",
                "Hello! It's alwaysss exciting to see new face.",
                "<selfname> doesss not think we have met, have we?",
                "You jussst arrived, right?",
                "Oh! Hello! What'sss your name?"
            ]
        },
        "glitch": {
            "default": [
                "Surprised. I didn't notice you there.",
                "Hospitable. Oh, a new visitor! Welcome to our ship!",
                "Curious. Did you come To join the Volunteer program?",
                "Affable. Are you a new volunteer?",
                "Cordial. Evening! Are you here to see the captain?",
                "Informative. Greetings! The captain is in the control bay.",
                "Curious. Are you looking for the captain?",
                "Informative. Just so you know, the captain may be busy right now.",
                "Happy. Hello! It's always exciting to see a new face.",
                "Thoughtful. I don't think we have met, have we?",
                "Eager. You just arrived, right?",
                "Friendly. Hello! What's your name?"
            ]
        },
        "novakid": {
            "default": [
                "Sorry 'bout that. I didn't notice you there.",
                "Oh, a traveler! Welcome to our ship!",
                "Did you come to join the Volunteer program partner?",
                "Oh, are you a new volunteer?",
                "Evenin'! Are you here to see the captain?",
                "Howdy partner! The captain is in the control bay.",
                "Are ya lookin' for the captain?",
                "Just so you know, the captain may be real busy right now.",
                "Hey! It's always exciting to see a new face.",
                "I don't recall you partner, have we met before?",
                "You just arrived, right partner?",
                "Oh! Hello! What's your name?"
            ]
        }
    },
    "converse": {
        "default": {
            "generic": [
                "Things have been grim for a while. Good thing we are not alone.",
                "It's real lucky that the whole 21st Astraeus fleet wasn't on Earth when it was destroyed.",
                "I thought about grabbing a ship and going to Earth myself, a part of me just can't believe it's really gone.",
                "The work is keeping me from loosing it really.",
                "I don't know how to feel about Earth, or at least I don't want to think about it.",
                "I'm just glad my crewmates and I are still together in this.",
                "Some of my friends had family on Earth, they've been really sad.",
                "I was hoping to see my family again on Earth...",
                "We've been working very hard to help the Protectorate, hope it pays off.",
                "Things are going to get better, I'm sure of it.",
                "I was hoping to get out of this ship soon, guess that won't be happening.",
                "We are technically Protectors, but it's not unusual for us Envoys to feel as if we are a breed of our own.",

                "And I thought the job an Envoy was already hard, being a Protector is so tiring!",
                "I was a explorer, and now I do paperwork, amazing how things change, right?",
                "Hopefully we can stop by one of the space stations soon, I want out of this ship!",
                "We get a similar education to Protectors for sure, yet they have more experience when it comes to mediation.",
                "We've been supplying many settlements for a while, the work doesn't end!",
                "We've been working non-stop to help the communities the Protectors assisted once, it's not easy.",
                "I wish there were more hands helping us, the Volunteer program is not enough.",
                "I feel oddly excited rather than that sad, helping others has been very motivating.",

                "My home was destroyed on Earth, where am I going to live now?",
                "Some of us are retiring, and we're stuck setting up some camps, lucky them I guess.",
                "I was really excited to return to Earth, I've been only a few times there.",
                "There was so much on Earth to explore, I only went for a few years and still hadn't seen it all...",
                "My favorite restaurant was on Earth, I'm going to miss that place...",
                "I had friends and family on Earth the day of the Anniversary, maybe they got out?",
                "I don't want to talk about Earth.",
                "The fact that I haven't seen Earth in a while makes me feel disconnected from it, and that actually makes me feel bad.",

                "We are accepting volunteers! If you know someone who wants to help just tell us!",
                "We received a lot of help from people across the galaxy since day one, makes you feel inspired!",
                "I was afraid no one was going to sign up to the Volunteer program, I'm glad to be proven wrong.",
                "I never thought about the amount of people we had inspired with our help, I'm glad they are helping us!",
                "So far the Volunteer program is going well!",
                "There's some volunteers who can't stand the workload and just leave as a result, I don't judge them, this work is hard!",
                "I'm just hoping the new volunteers don't get exhausted too quickly.",
                "Volunteers have high priority in protection, the least we want is for these people to be hurt while helping us after all.",
                "We are already setting up some camps for Envoys, volunteers, and refugees to rest while we find new places to stay.",

                "There's always that lingering issue of the ship failing any time...",
                "I just hope our greenhouse capabilities are not surpassed by our current needs.",
                "I don't know how to feel about us having to sell our surplus stuff, I guess it's for the best.",
                "There are a couple of fancy things we have that we don't really need, so we are selling them!",
                "It has been a while since our last maintenance routine. I just hope things don't go south.",
                "Envoy ships are built to last. Us, unfortunately, not so much.",
                "In some of our ships we've started to use emergency rations, really tells you about our situation!",
                "Thank goodness Astraeus SAILs are more funny than your regular ones, they make things much more bearable.",

                "Unlike Protectors, us Envoys don't receive that many visits from other travelers.",
                "We've been allying ourselves with groups like the Solar Innkeepers and the Pathfinder League, we really need their help.",
                "There are some organizations out there that help travelers like you, such as the Pathfinder League for instance.",
                "In space there's just no shortage of marvelous and dangerous things to find.",
                "Anomalies are some of our favorite things to explore, they can, of course, be very dangerous.",
                "Better avoid USCM sites, they are full of triplods and other weird stuff, or something like that at least.",
                "Masteroids are the worst, they needlessly try to ruin our ship's hull!",
                "I suggest you help other travelers in these dire times as well, it's the best one can do.",
                "I have an interesting story or two to tell maybe.",
                "Don't tell anyone else this, but there are Bobfaes in space!",

                "I'm not sure why the Occasus is targeting us as of late, they are such an enigma to me.",
                "I don't think the Occasus was behind the destruction of Earth, they're just boasting.",
                "I really despise the Occasus, they just want the galaxy to be worse, and I'm sure that wouldn't make them any happier.",

                "Archeology is not our specialty, so we don't know much about the Ancients really.",
                "Have you ever seen those Ancient gates? They are impressive.",
                "Esther Bright has some interesting papers on the Ancients if you want to know more about them.",
                "I've been to an Ancient temple of sorts once, it was monumental!",

                "I recall that the Protectorate had some education programs for the Florans once, I wonder if they are still running?",
                "We have asked the Wayfarer Leaves for assistance in educating the Florans, they are more close to them after all.",

                "I remember the Protectorate had been supplying Deadbeat communities out there previously, not sure if we still do.",
                "Deadbeats tend to be distrustful of even of their own kind, that's the effect of living on planets with bare resources I suppose.",

                "My favorite planet out there? Well that's unfair, I can't just choose only one!",
                "Lush planets are quite great, but be careful with local fauna.",
                "Bring water with you on Desert planets, and light clothes too!",
                "Tundra planets are very cold, make sure to bring an EPP.",
                "Volcanic planets are searing hot, make sure to bring an EPP.",
                "Scorched planets are dry, hot, and full of dangers, better to not explore them.",
                "Toxic planets are best to be avoided.",
                "Alien planets are trippy and amazing, just don't stay too long, they're full of radiation!",
                "Oceanic planets are very calm and make a good place to relax.",
                "Barren planets are, well, barren! Not very interesting to look at."
            ],
            "default": [
                "Sorry, I'm kinda busy right now."
            ]
        },
        "floran": {
            "generic": [
                "Thingsss have been grim for a while. Good thing we are not alone.",
                "It's real lucky that the whole 21st Astraeuss fleet wasn't on Earth when it was destroyed.",
                "<selfname> thought about grabbing a ssship and going to Earth themself, a part of <selfname> can not believe it's really gone.",
                "Work isss keeping <selfname> from going mad.",
                "<selfname> doesss not know how to feel about Earth, <selfname> doesss not want to think about it.",
                "<selfname> isss just glad we are still together in this.",
                "Some of <selfname> friendss had family on Earth, they've been really sad.",
                "<selfname> was hoping to sssee Floran tribe again on Earth.",
                "We've been working very hard to help the Protectorate, <selfname> hopesss it pays off.",
                "Thingsss are going to get better, <selfname> knows it.",
                "<selfname> is waiting to get out of this ship sssoon.",
                "We are Protectors, but it's not unusual for usss Envoys to feel as if we are a tribe of our own.",

                "<selfname> thought being Envoy was hard, but being Protector is double hard!",
                "<selfname> was explorer, and now doesss paperwork, amazing how things change, right?",
                "Hopefully we get to one of the space stations soon so <selfname> can get off thiss ship!",
                "We have a sssimilar education to Protectors, yet they have more experience when it comes to mediating.",
                "We've been supplying many settlementsss for a while, the work doesn't end!",
                "We've been working non-stop to help the communities the Protectorss asssisted once, it's not easy.",
                "<selfname> wishes there could be more hands helping usss, the Volunteer program is not enough.",
                "<selfname> feel weirdly excited and not very sad, helping others isss very motivating.",

                "Floran's home was destroyed on Earth, where is <selfname> going to live now?",
                "Sssome of us are retiring, and we're ssstuck setting up some camps, lucky.",
                "<selfname> was really excited to return to Earth, Floran been only a few times there...",
                "There was so much on Earth to explore, and <selfname> only went for a few years and still hadn't ssseen it all....",
                "Floran's favorite place to eat wasss on Earth, <selfname> is going to miss it.",
                "<selfname> tribe wasss on Earth the day of the Anniversary, maybe they got out?",
                "<selfname> doesss not wish to talk about Earth.",
                "<selfname> has not seen Earth for years, makes Floran feel disssconnected from it, and that makes Floran feel bad.",

                "We are accepting volunteers! If you know someone who wants to help just tell uss!"",
                "We received a lot of help from people across the galaxy since day one, makess you feel inspired!",
                "<selfname> wass afraid no one was going to sign up to Volunteer program, <selfname> is glad to be proven wrong.",
                "<selfname> never thought about all the people we have inspired with our asssistance, it's good to see they are helping us now!",
                "So far the Volunteer program iss going well!",
                "There'ss some volunteers who can't ssstand the job and leave, <selfname> does not judge them, this work is hard!",
                "<selfname> hopes the new volunteersss don't get too tired quickly.",
                "Volunteers have a high priority in protection, the least we want iss for these people to be hurt while helping us.",
                "We are already setting up some camps for Envoys, volunteerss, and refugeess to rest while we find new places to stay.",

                "There iss always that lingering issue of the ship failing any time...",
                "<selfname> hopes our greenhouse capabilities are not sssurpassed by our current needs.",
                "<selfname> does not know how to feel about selling our extra stuff, Floran guess it's for the best.",
                "There are a couple of fancy thingsss we have that we don't really need, so we are selling them!",
                "It has been a while since our lassst maintenance routine. <selfname> just hopes things don't go south.",
                "Envoy ships are built to last. Us, unfortunately, not so much.",
                "In some of our ssships we've started to use emergency rations, really tells you about our situation!",
                "Thank goodnesss Astraeus SAILs are more funny than your regular ones, they make things much more bearable.",

                "Unlike Protectors, usss Envoys don't receive that many visits from other travelerss.",
                "We've been allying ourselvesss with groups like the Solar Innkeepersss and the Pathfinder League, we really need their help.",
                "There are some organizations out there that help travelers like you, like the Pathfinder League for inssstance.",
                "In space there's just no shortage of marvelous and dangerousss things to find.",
                "Anomalies are some of our favorite thingsss to explore, they can, of course, be very dangerous.",
                "Better avoid USCM sites, they are full of triplodsss and weird stuff, or something like that at least.",
                "Masteroidss are the worst things for us, they needlessly try to ruin our ship's hull!",
                "<selfname> suggestsss you help other travelers in these dire times as well, it's the best one can do.",
                "<selfname> has an interesting story or two maybe.",
                "Don't tell anyone else thisss, but there are Bobfaes in space!",

                "<selfname> is not sure why Occasus is targeting us as of late, <selfname> jussst don't get them.",
                "<selfname> does not think Occasusss was behind the destruction of Earth, they just like to boast.",
                "<selfname> really despises Occasus, they just want the galaxy to be worssse, and Floran sure that wouldn't make them any happier.",

                "Archeology is not our specialty, so we don't know much about the Ancientsss really.",
                "Have you ever seen some of those Ancient gatesss? They are impressive.",
                "Esssther Bright has some interesting papers on the Ancients if you want to know more about them.",
                "<selfname> has been to an Ancient temple once, it was huge!",

                "<selfname> recalls that Protectorate had some education programs for Florans, they could really ussse them.",
                "We have asked the Wayfarer Leaves for assistance in educating the Floransss, they are more close to them after all.",

                "<selfname> remembers Protectorate had been supplying Deadbeat communitiesss out there before, not sure if we are still doing it.",
                "Deadbeatsss tend to be distrustful of even of their own kind, that is the effect of living on planets with bare resources Floran supposes.",

                "My favorite planet out there? Well that'ssss unfair, Floran can't just choose only one!",
                "Lush planets are amazing and makes <selfname> feel at easse.",
                "Desert planets are horrible! There's barely any moisssture and water there!",
                "Tundra planets are very cold, make sure to bring an EPP.",
                "Volcanic planets are sssearing hot, <selfname> does not recommend going to them, but if you do, use an EPP.",
                "SSScorched planets are dry, hot, and full of dangers, better to not explore them.",
                "Toxic planetsss are interesting, <selfname> is quite fond of them.",
                "Alien planets are trippy and amazing, just don't ssstay too long, they're full of radiation!",
                "Oceanic planets are very calm, and a good place to fisssh on!",
                "Barren planets are, well, barren! Not very interesssting to look at."
            ],
            "default": [
                "Ssstrange thing."
            ]
        },
        "glitch": {
            "generic": [
                "Optimistic. Things have been grim for a while. Good thing we are not alone.",
"Reflective. It's real lucky that the whole 21st Astraeus fleet wasn't on Earth when it was destroyed.",
"Incredulous. I thought about grabbing a ship and going to Earth myself, a part of me just can't believe it's really gone.",
"Pessimistic. The work is keeping me from loosing it really.",
"Avoidant. I don't know how to feel about Earth, or at least I don't want to think about it.",
"Relieved. I'm just glad my crewmates and I are still together in this.",
"Worried. Some of my friends had family on Earth, they've been really sad.",
"Despondent. I was hoping to see my family again on Earth...",
"Optimistic. We've been working very hard to help the Protectorate, hope it pays off.",
"Optimistic. Things are going to get better, I'm sure of it.",
"Frustrated. I was hoping to get out of this ship soon, guess that won't be happening.",
"Explicative. We are technically Protectors, but it's not unusual for us Envoys to feel as if we are a breed of our own.",

"Exhausted. And I thought the job an Envoy was already hard, being a Protector is so tiring!",
"Perplexed. I was a explorer, and now I do paperwork, amazing how things change, right?",
"Anxious. Hopefully we can stop by one of the space stations soon, I want out of this ship!",
"Reflective. We get a similar education to Protectors for sure, yet they have more experience when it comes to mediation.",
"Tired. We've been supplying many settlements for a while, the work doesn't end!",
"Absorbed. We've been working non-stop to help the communities the Protectors assisted once, it's not easy.",
"Exhausted. I wish there were more hands helping us, the Volunteer program is not enough.",
"Motivated. I feel oddly excited rather than that sad, helping others has been very motivating.",

"Worried. My home was destroyed on Earth, where am I going to live now?",
"Envious. Some of us are retiring, and we're stuck setting up some camps, must be lucky I guess.",
"Disappointed. I was really excited to return to Earth, I've been only a few times there.",
"Disappointed. There was so much on Earth to explore, I only went for a few years and still hadn't seen it all...",
"Sad. My favorite restaurant was on Earth, I'm going to miss that place...",
"Optimistic. I had friends and family on Earth the day of the Anniversary, maybe they got out?",
"Avoidant. I don't want to talk about Earth.",
"Conflicted. The fact that I haven't seen Earth in a while makes me feel disconnected from it, and that actually makes me feel bad.",

"Informative. We are accepting volunteers! If you know someone who wants to help just tell us!",
"Motivated. We received a lot of help from people across the galaxy since day one, makes you feel inspired!",
"Relieved. I was afraid no one was going to sign up to the Volunteer program, I'm glad to be proven wrong.",
"Inspired. I never thought about the amount of people we had inspired with our help, I'm glad they are helping us!",
"Positive. So far the Volunteer program is going well!",
"Understanding. There's some volunteers who can't stand the workload and just leave as a result, I don't judge them, this work is hard!",
"Worried. I'm just hoping the new volunteers don't get exhausted too quickly.",
"Explicative. Volunteers have high priority in protection, the least we want is for these people to be hurt while helping us after all.",
"Explicative. We are already setting up some camps for Envoys, volunteers, and refugees to rest while we find new places to stay.",

"Anxious. There's always that lingering issue of the ship failing any time...",
"Worried. I just hope our greenhouse capabilities are not surpassed by our current needs.",
"Conflicted. I don't know how to feel about us having to sell our surplus stuff, I guess it's for the best.",
"Appeased. There are a couple of fancy things we have that we don't really need, so we are selling them!",
"Concerned. It has been a while since our last maintenance routine. I just hope things don't go south.",
"Exhausted. Envoy ships are built to last. Us, unfortunately, not so much.",
"Preocuppied. In some of our ships we've started to use emergency rations, really tells you about our situation!",
"Relieved. Thank goodness Astraeus SAILs are more funny than your regular ones, they make things much more bearable.",

"Happy. Unlike Protectors, us Envoys don't receive that many visits from other travelers.",
"Explicative. We've been allying ourselves with groups like the Solar Innkeepers and the Pathfinder League, we really need their help.",
"Informative. There are some organizations out there that help travelers like you, such as the Pathfinder League for instance.",
"Explicative. In space there's just no shortage of marvelous and dangerous things to find.",
"Explicative. Anomalies are some of our favorite things to explore, they can, of course, be very dangerous.",
"Informative. Better avoid USCM sites, they are full of triplods and other weird stuff, or something like that at least.",
"Annoyed. Masteroids are the worst, they needlessly try to ruin our ship's hull!",
"Motivated. I suggest you help other travelers in these dire times as well, it's the best one can do.",
"Informative. I have an interesting story or two to tell maybe.",
"Secretive. Don't tell anyone else this, but there are Bobfaes in space!",

"Confused. I'm not sure why the Occasus is targeting us as of late, they are such an enigma to me.",
"Reflective. I don't think the Occasus was behind the destruction of Earth, they're just boasting.",
"Irritated. I really despise the Occasus, they just want the galaxy to be worse, and I'm sure that wouldn't make them any happier.",

"Explicative. Archeology is not our specialty, so we don't know much about the Ancients really.",
"Curious. Have you ever seen those Ancient gates? They are impressive.",
"Informative. Esther Bright has some interesting papers on the Ancients if you want to know more about them.",
"Nostalgic. I've been to an Ancient temple of sorts once, it was monumental!",

"Uncertain. I recall that the Protectorate had some education programs for the Florans once, I wonder if they are still running?",
"Explicative. We have asked the Wayfarer Leaves for assistance in educating the Florans, they are more close to them after all.",

"Uncertain. I remember the Protectorate had been supplying Deadbeat communities out there previously, not sure if we still do.",
"Explicative. Deadbeats tend to be distrustful of even of their own kind, that's the effect of living on planets with bare resources I suppose.",

                "Conflicted. My favorite planet out there? Well that's unfair, I can't just choose only one!",
                "Intrigued. Lush planets are sort of enigmatic, who build all of those ruins on them?",
                "Informative. If you go to a Desert planet, bring ways to cool yourself there, the heat can be unforgiving.",
                "Explicative. Tundra planets are very cold but quite nice for my circuits, just remember to use an EPP if you go to one.",
                "Amused. The Glitch shouldn't be fond of Volcanic planets, and yet they are!",
                "Informative. Scorched planets are dry, hot, and full of dangers, I don't recommend visiting them.",
                "Annoyed. Toxic planets are terrible for my plating.",
                "Informative. Alien planets are trippy and amazing, just don't stay too long, they're full of radiation!",
                "Explicative. Oceanic planets are very calm, I just avoid going into the water.",
                "Explicative. Barren planets are, well, barren! Not very interesting to look at."
            ],
            "default": [
                "Confusion. What manner of being are you?"
            ]
        },
        "novakid": {
            "generic": [
                "Things ain't bright lately. Good thing we are not alone, right partner?",
                "It's sure lucky that the whole 21st Astraeus fleet wasn't on Earth when it was blown to smithereens!",
                "I just thought about grabbing a ship to go to Earth myself, you know, to see if ol' Earth is really gone.",
                "The work is keeping me from goin' nuts!",
                "Ain't sure how to feel about Earth, or at least I don't want to think about it.",
                "I'm just glad my partners and I are still in this rodeo together.",
                "Some of my partners had family on Earth, they've been down in the dumps lately.",
                "I was hoping to see my family again on Earth.",
                "We've been working very hard to help the Protectorate, hope it pays off.",
                "Things are gonna get better, I'm sure of it.",
                "I was hoping to get out of this ship, guess it ain't happening soon.",
                "We are Protectors for sure, but for some reason us Envoys tend to feel as if we are a breed of our own.",

                "And I thought the job an Envoy does was already hard, being a Protector is so tiring!",
                "I was a pioneer, and now I do paperwork, amazin' how things change, don't you think partner?",
                "Hopefully we get to one of them space stations soon so I can take a good nap!",
                "We have a similar education to Protectors fer sure, yet they have more experience when it comes to mediatin'.",
                "We've been supplying many settlements for a while, the work doesn't end!",
                "We've been workin' like crazy to aid the communities the Protectors once helped, it ain't easy.",
                "I wish there were be more hands to help, the Volunteer program ain't enough.",
                "Oddly, I ain't sad but excited, helping others has been very motivatin'.",

                "My home was destroyed on Earth, where I'm going to spend the night now?",
                "Some of us are retirin' and we're stuck settin' up some camps, mighty fine deal they got.",
                "I was excited to return to Earth, I've been only a few times there.",
                "There was so much on Earth to explore, I only went for a few years and I don't remember any of it...",
                "My favorite bar was on Earth, I'm going to miss that place.",
                "I had friends on Earth the day of the Anniversary. Hopefully they were able to cut and run in time!",
                "Not now partner, I ain't talkin' about the Earth situation right now.",
                "The fact that I haven't seen Earth in a while makes me feel far away from it, and that makes me feel bad.",

                "We are acceptin' volunteers! If you know someone who wants to help just tell us!",
                "We got a crowd of help from people across the galaxy since day one, makes you feel inspired!",
                "I was afraid no one was going to sign up for the Volunteer program, I'm glad to be proven wrong.",
                "I never thought about all the people we had inspired with our aid, I'm glad they are helpin' us!",
                "So far the Volunteer program is doin' well!",
                "There's some volunteers who can't stand the workload and leave as a result, I ain't judgin' them, this work is hard!",
                "I'm just hopin' the new volunteers don't get exhausted too fast.",
                "Volunteers have high priority in protection, the least we want is for these people to be hurt while helping us after all.",
                "We are already settin' up some camps for Envoys, volunteers, and refugees to rest while we find new places to stay.",

                "There's always that lingerin' issue of the ship conkin' out at any time...",
                "I just hope our greenhouse capabilities are not surpassed by our hunger.",
                "Ain't sure how to feel about havin' to sell some of our stuff, I guess it's for the best.",
                "There are a couple of classy things we have that we don't really need, so we are selling it!",
                "It has been a while since our last maintenance routine. I just hope things don't go south.",
                "Envoy ships are built to last, we unfortunately ain't built the same.",
                "In some of our ships we've started to use emergency rations, really tells you about our situation don't it?",
                "Good thing Astraeus SAILs are more funny than your regular ones, they make things much more bearable.",

                "Unlike Protectors, us Envoys ain't gettin' many visits from other travelers.",
                "We've been allyin' ourselves with groups like the Solar Innkeepers and the Pathfinder League, we really need their help.",
                "There are some organizations out there that help travelers like you, like the Pathfinder League for instance.",
                "In space there's just no shortage of wonderful and dangerous things to find.",
                "Anomalies are some of our favorite things to explore, they're very dangerous too.",
                "Better avoid USCM sites, they are full of triplods and the other weird shenanigans they did long ago.",
                "Masteroids are the worst, they needlessly try ruin our ship's hull!",
                "I think you should help other travelers in these dire times as well, it's the best one can do.",
                "I have an interestin' story or two to tell maybe.",
                "Don't tell anyone else this, but there are Bobfaes in space!",

                "Ain't sure why the Occasus is targeting us lately, I just don't get 'em.",
                "The Occasus wasn't behind the destruction of Earth fer sure, they just like to boast.",
                "I really despise the Occasus, they just want the galaxy to be worse and I'm sure that wouldn't make them any happier.",

                "Archeology is not our thing, so we don't know much about the Ancients really.",
                "Have you ever seen some of those Ancient gates? Mighty impressive if you ask me.",
                "Esther Bright has some interestin' papers on the Ancients if you want to know more about them.",
                "I've been to an Ancient temple of sorts once, it was big! Felt weirdly familiar too.",

                "I reckon the Protectorate had some education programs for the Florans once, ain't sure if we are still up to it.",
                "We asked the Wayfarer Leaves for assistance in educatin' the Floran, they are more close to them after all.",

                "I recall the Protectorate had been supplyin' Deadbeat communities out there previously, not sure if we still do.",
                "Deadbeats tend to be distrustful of even of their own kind, that's the effect of living on planets with bare resources I suppose.",

                "My favorite planet out there? Well that's quite unfair, All of them have been great to explore!",
                "Lush planets are quite great, but be careful with local fauna.",
                "Bring water with you on Desert planets, and light clothes too!",
                "Tundra planets are very cold, try using the proper EPP.",
                "Volcanic planets are searing hot, try using the proper EPP.",
                "Scorched planets are dry, hot, an' full of dangers, better to not explore them I reckon.",
                "Toxic planets are best avoided.",
                "Alien planets are trippy and amazin', just don't stay too long, they're full of radiation!",
                "Oceanic planets are very calm an' a good place to relax.",
                "Barren planets are, well, barren! Not very interestin' to look at."
            ],
            "default": [
                "I ain't seen any folk like you before. What in tarnation are you?"
            ]
        }
    }
}
