{
    "greeting": {
        "default": {
            "default": [
                "I didn't notice you were here.",
                "On, a new visitor! You are welcome to our ship!",
                "Did you come for the Volunteer program?",
                "Oh, are you a new volunteer?",
                "Evening! Are you here to see the captain?",
                "Greetings! The captain is at the control bay.",
                "Are you looking for the captain?",
                "Just so you know, the captain may be busy right now.",
                "Hello! It's always exciting to see new faces.",
                "I don't think we have met, have we?",
                "You just arrived, right?",
                "Oh! Hello! What's your name?"
            ]
        },
        "floran": {
            "default": [
                "<selfname> did not notice you were here.",
                "A new visitor! You are welcome to our ship!",
                "Did you come for the Volunteer program?",
                "Are you a new volunteer?",
                "Evening! Are you here to see the captain?",
                "Greetingss! The captain is at the control bay.",
                "Are you looking for the captain?",
                "Just so you know, the captain may be busy right now.",
                "Hello! It's always exciting to see new faces.",
                "<selfname> does not think we have met, have we?",
                "You just arrived, right?",
                "Oh! Hello! What's your name?"
            ]
        },
        "glitch": {
            "default": [
                "Surprised. I didn't notice you were here.",
                "Hospitable. Oh, a new visitor! You are welcome to our ship!",
                "Curious. Did you come for the Volunteer program?",
                "Affable. Are you a new volunteer?",
                "Cordial. Evening! Are you here to see the captain?",
                "Informative. Greetings! The captain is at the control bay.",
                "Curious. Are you looking for the captain?",
                "Informative. Just so you know, the captain may be busy right now.",
                "Happy. Hello! It's always exciting to see new faces.",
                "Thoughtful. I don't think we have met, have we?",
                "Eager. You just arrived, right?",
                "Friendly. Hello! What's your name?"
            ]
        },
        "novakid": {
            "default": [
                "I ain't notice you were here.",
                "Oh, a traveler! You are welcome to our ship!",
                "Did you come for the Volunteer program partner?",
                "Oh, are you a new volunteer?",
                "Evening! Are you here to see the captain?",
                "Greetings partner! The captain is at the control bay.",
                "Are ya lookin' for the captain?",
                "Just so you know, the captain may be real busy right now.",
                "Hey! It's always exciting to see new faces.",
                "I don't recall you patner, have we met before?",
                "You just arrived, right partner?",
                "Oh! Hello! What's your name?"
            ]
        }
    },
    "converse": {
        "default": {
            "generic": [
                "Curiosly enough, I don't feel alone anymore.",
                "I'm just glad my friends didn't go to the 500th Anniversary.",
                "I had the thought of grabbing a ship and go to Earth myself, you know, just to comfirm it's not a big bad joke.",
                "I don't want to think much about all it's happening, it drains my energy.",
                "Surprisingly I don't feel very hopeless.",
                "You know? I'm glad to be accompanied with my crew right now, makes me feel better.",
                "The Protectorate is gone and I'm still working!",
                "I don't think I'm going to rest any time soon.",
                "We've been moving between systems for a while. I hope we still have fuel.",
                "People are showing support in their own ways. Makes me feel more hopeful.",
                "Some of our space stations are probably abandoned now.",
                "Have you seen more Protectors out there?",

                "I'm glad the Astraeus Fleet is helping us, I would not be able to bear any of this.",
                "I'm a bit worried about the Envoys, they are not used to our workload.",
                "Besides most of the Protectorate being gone, I never expected Envoys to do our tasks.",
                "I'm glad the 21st Astreus Fleet is helping us.",
                "I don't think I've talk this much to Envoys before!",
                "It's odd to think of Envoys doing Protector tasks, not that I'm complaining!",
                "I admire our friends the Envoys, they could have decided to not help yet they did.",
                "Now with the help of the Astraeus Fleet the Protectorate can be back on the game!",

                "I didn't feel much when I knew Earth was destroyed. The I remembered I would need a new house and it hit me.",
                "A part of me can't fully believe that Earth is gone.",
                "Do you even know what happened to Earth? I've just heard things...",
                "Now where I'm going to live with Earth gone?",
                "My family was on Earth the day of the Anniversary. Maybe they got out?",
                "I'm not from Earth, but even then I got shocked as the rest of us.",
                "I feel bad about what happened on Earth.",
                "I can't even imagine what Humans are going through right now.",

                "We are accepting volunteers! If you know someone who wants to help just tell us!",
                "The Volunteer program is going slow, I hope it goes well.",
                "Day one we received a lot of help of people across the galaxy, makes you feel inspired!",
                "Not many are helping, but I'm glad some are!",
                "I was afraid no one was going to sign on the Volunteer program, I'm glad to be proven wrong.",
                "I'm not complaining, I like people are helping us, it's just I expected more.",
                "I've heard some people have been using their ships to transport supplies to us.",
                "People are helping with their own mediums and I'm thankful for that.",

                "We've been having troubles with fuel as of late.",
                "We have started to eat canned food and emergency rations. Not good.",
                "I just want a proper meal for once and not one of those rations.",
                "I've heard Envoy ships have their own greenhouses, why can't we have one here?",
                "Our mechanics have been doing miracles lately, we are going to need some serious maintenance work soon.",
                "These ships are durable, but I'm a bit afraid maintenance is going to be needed soon.",
                "Some of our ships have been attacked by Occasus cultists lately.",
                "I'm aware we are more vulnerable than ever. I don't like it.",
                "For some reason Occasus has been targeting our ships very recently.",

                "It's always nice to know another space traveler.",
                "If you are looking for options to stay, I've heard the Solar Innkeepers help travelers like you.",
                "There are some organizations out there that help travelers, like the Pathfinder League.",
                "It's a good habit to always send a salute message to any space passersby.",
                "I advice you to avoid anomalies, you just don't know if there's something dangerous or not.",
                "Travel with care around asteroid belts. Spinemines and pirates are just some of many dangers around them.",
                "Many travelers put themselves in unnecesary danger often, don't be like them please.",
                "Travelers always have an interesting story or two to tell.",

                "Pirates can be very troublesome at times.",
                "Be careful where you go, there are pirate ships here and there.",
                "Some pirates have been targeting us more than usual. Thankfully none of them succeed.",
                "Pirates are very oportunistic and often hide to strike.",
                "Better to avoid anomalies and asteroid belts, pirates frequent them a lot.",

                "Bobfaes in space? ha! that's a funny image but I don't think they can.",
                "Masteroids are such a headache.",

                "I'm not sure why Occasus is targeting us as of late, I guess they just do.",
                "Do you think Occasus was really behind the destruction of Earth as they claim?",
                "I don't like Occasus, their ideals just turns the galaxy into a worst place for everyone.",

                "I think often about the Ancients and their ruins, where did they go?",
                "Have you ever seen some of those Ancient gates? They are impressive.",
                "Esther Bright has some interesting papers on the Ancients.",
                "I've never been close to Ancient ruins, but I've heard they are monumental.",

                "We had some education programs for the Floran, not sure if they are still up.",
                "We have tried to educate the Floran with the help of the Wayfarer Leaves, the results are slow but steady!",

                "We supplied some Deadbeat communities out there, not sure if we are still doing it right now.",
                "It's hard to reach Deadbeats, they tend to be a bit untrusty of... frankly anybody.",

                "Lush planets are just so beautiful and quiet.",
                "Desertic planets are quite hot, but they are cool nonetheless.",
                "You have to visit a Tundra planet anytime soon, everything there is made of ice!",
                "If you are going to visit a Volcanic planet then bring a lot of water.",
                "Don't visit Scorched planets, they are a bit scary and tragic at the same time.",
                "Midnight planets are so cool, or so they say, I couldn't see anything when I went to one."
            ],
            "default": [
                "Sorry, I'm kinda busy right now."
            ]
        },
        "floran": {
            "generic": [
                "Curiosly enough, <selfname> does not feel alone anymore.",
                "<selfname> is happy my friendss didn't go to the 500th Anniversary.",
                "<selfname> had the thought of grabbing a ship and go to Earth to confirm is not just a joke.",
                "<selfname> does not wish to think much about all it's happening, it's tiring.",
                "Surprisingly <selfname> does not feel very hopelesss.",
                "<selfname> is glad to be accompanied with my crew right now, makes me feel better.",
                "The Protectorate is gone and <selfname> is still working!",
                "<selfname> does not think is going to rest any time soon.",
                "We've been moving between systems for a while. <selfname> hopes we still have fuel.",
                "People are showing support in their own ways. Makes <selfname> feel more hopeful.",
                "Some of our space stationss are probably abandoned now.",
                "Have you seen more Protectors out there?",

                "<selfname> is glad the Astraeus Fleet iss helping us, I would not be able to bear any of this.",
                "<selfname> is a bit worried about Envoyss, they are not used to our workload.",
                "Besides most of the Protectorate being gone, <selfname> never expected Envoys to do our jobs.",
                "<selfname> is glad the 21sst Astreus Fleet is helping us.",
                "<selfname> has not talked this much to Envoyss before!",
                "It's odd to think of Envoys doing Protector tasks, not a complain!",
                "<selfname> admires our friends the Envoyss, they could have decided to not help yet they did.",
                "Now with the help of the Astraeus Fleet the Protectorate can be back on the game!",

                "<selfname> didn't feel much knowing Earth was destroyed. <selfname> then remembered tribe was there.",
                "<selfname> can't fully believe that Earth is gone.",
                "Do you even know what happened to Earth? <selfname> has just heard things...",
                "Now where is <selfname> going to live with Earth gone?",
                "<selfname> tribe was on Earth the day of the Anniversary. Maybe they got out?",
                "<selfname> is not from Earth, <selfname> got shocked still as the rest of uss.",
                "<selfname> feelss bad about what happened on Earth.",
                "<selfname> can't even imagine what Humans are going through right now.",

                "We are accepting volunteers! If you know someone who wants to help just tell uss!",
                "The Volunteer program is going slow, I hope it goess well.",
                "Day one we received a lot of help of people across the galaxy, makess you feel inspired!",
                "Not many are helping, but <selfname> is glad some are!",
                "<selfname> wass afraid no one was going to sign on the Volunteer program, <selfname> is glad to be proven wrong.",
                "<selfname> is not complaining, <selfname> likes people are helping uss, <selfname> just expected more.",
                "<selfname> heard some people have been using their ships to transport supplies to uss.",
                "People are helping with their own mediums and <selfname> is thankful for that.",

                "We have been having troubles with fuel as of late.",
                "We have started to eat canned food and emergency rations. <selfname> does not like it.",
                "<selfname> just wantss a proper meal and not one of those rations.",
                "<selfname> has heard Envoy ships have their own greenhousess, why can't we have one here?",
                "Our mechanics have been doing miracles lately, we are going to need seriouss maintenance work soon.",
                "These ships are resistant, but <selfname> is a bit afraid maintenance is going to be needed soon.",
                "Some of our ships have been attacked by Occasuss cultists lately.",
                "<selfname> is aware we are more vulnerable than ever. <selfname> does not like it.",
                "For some reason Occasuss has been targeting our ships very recently.",

                "It's always nice to know another space traveler.",
                "If you are looking for options to stay, <selfname> has heard the Solar Innkeepers help travelerss like you.",
                "There are some organizationss out there that help travelerss, like the Pathfinder League.",
                "It's a good habit to always send a salute message to any space passerssby.",
                "<selfname> advices you to avoid anomaliess, you just don't know if there is something dangerouss or not.",
                "Travel with care around asteroid belts. Spineminess and piratess are just some of many dangerss around them.",
                "Many travelerss put themselves in unnecesary danger often, don't be like them please.",
                "Travelers always have an interesting story or two to tell.",

                "Piratess can be very troublesome at times.",
                "Be careful where you go, there are pirate ships here and there.",
                "Some piratess have been targeting uss more than usual. Thankfully none of them succeed.",
                "Piratess are very oportunistic and often hide to hunt.",
                "Better to avoid anomaliess and asteroid belts, piratess frequent them a lot.",

                "Bobfaess in space? ha! that's a funny picture but <selfname> does not think they can.",
                "Masteroidss are such a headache.",

                "<selfname> is not sure why Occasuss is targeting us as of late.",
                "Do you think Occasuss was really behind the destruction of Earth as they claim?",
                "<selfname> does not like Occasuss, their thinking just makes the galaxy a worst place for everyone.",

                "<selfname> thinks often about the Ancients and their ruinss, where did they go?",
                "Have you ever seen some of those Ancient gates? They are impressive.",
                "Esther Bright has some interesting texts on the Ancientss.",
                "<selfname> has never been close to Ancient ruins, but <selfname> has heard they are monumental.",

                "The Protectorate has tried to educate the Floran, <selfname> is not sure if they still do.",
                "Educating the Floran has been easier thanks to the Wayfarer Leaves, they are nice Floran!",

                "We supplied some Deadbeat communitiess out there, not sure if we are still doing it right now.",
                "It's hard to reach Deadbeats, they tend to be a bit untrusty of anybody.",

                "Lush planets are just so beautiful and quiet planets.",
                "Desertic planets are very hot and dry, <selfname> does not recomend them!",
                "Have you seen Tundra planets? Everything there iss made of ice!",
                "<selfname> hates Volcanic planets, makes <selfname> feel thirsty!",
                "Don't visit Scorched planets, they are a scary and dry, I don't like dryness.",
                "Midnight planets are so cool, or so they say, <selfname> could not see anything in a visit to one!"
            ],
            "default": [
                "Ssstrange thing."
            ]
        },
        "glitch": {
            "generic": [
                "Optimistic. Curiosly enough, I don't feel alone anymore.",
                "Relieved. I'm just glad my friends didn't go to the 500th Anniversary.",
                "Anxious. I had the thought of grabbing a ship and go to Earth myself tocomfirm it's not a terrible joke.",
                "Tired. I don't want to think much about all it's happening, it zaps my energy.",
                "Calmed. Surprisingly I don't feel very hopeless.",
                "Grateful. You know? I'm glad to be accompanied with my crew right now, makes me feel better.",
                "Irritated. The Protectorate is gone and I'm still working!",
                "Hopeless. I don't think I'm going to rest any time soon.",
                "Concerned. We've been moving between systems for a while. I hope we still have fuel.",
                "Uplifted. People are showing support in their own ways. Makes me feel more hopeful.",
                "Thoughtful. Some of our space stations are probably abandoned now.",
                "Curious. Have you seen more Protectors out there?",

                "Happy. I'm glad the Astraeus Fleet is helping us, I would not be able to bear any of this.",
                "Concerned. I'm a bit worried about the Envoys, they are not used to our workload.",
                "Surprised. Besides most of the Protectorate being gone, I never expected Envoys to do our tasks.",
                "Content. I'm glad the 21st Astreus Fleet is helping us.",
                "Excited. I don't think I've talk this much to Envoys before!",
                "Reflective. It's odd to think of Envoys doing Protector tasks, not that I'm complaining!",
                "Moved. I admire our friends the Envoys, they could have decided to not help yet they did.",
                "Optimistic. Now with the help of the Astraeus Fleet the Protectorate can be back on the game!",

                "Pensive. I didn't feel much when I knew Earth was destroyed. Then I remembered I would need a new house and it hit me.",
                "Doubtful. A part of me can't fully believe that Earth is gone.",
                "Bemused. Do you even know what happened to Earth? I've just heard things...",
                "Distressed. Now where I'm going to live with Earth gone?",
                "Hopeful. My family was on Earth the day of the Anniversary. Maybe they got out?",
                "Empatic. I'm not from Earth, but even then I got shocked as the rest of us.",
                "Miserable. I feel bad about what happened on Earth.",
                "Harrowed. I can't even imagine what Humans are going through right now.",

                "Charismatic. We are accepting volunteers! If you know someone who wants to help just tell us!",
                "Hopeful. The Volunteer program is going slow, I hope it goes well.",
                "Uplifted. Day one we received a lot of help of people across the galaxy, makes you feel inspired!",
                "Happy. Not many are helping, but I'm glad some are!",
                "Relieved. I was afraid no one was going to sign on the Volunteer program, I'm glad to be proven wrong.",
                "Dissapointed. I'm not complaining, I like people are helping us, it's just I expected more.",
                "Impressed. I've heard some people have been using their ships to transport supplies to us.",
                "Thankful. People are helping with their own mediums and I'm thankful for that.",

                "Distressed. We've been having troubles with fuel as of late.",
                "Unhappy. Canned food and emergency rations are fine, but not my cup of tea.",
                "Unhappy. I just want a proper meal for once and not one of those rations.",
                "Envious. Envoy ships have their own greenhouses, why can't we have one here?",
                "Distressed. Our mechanics have been doing miracles lately, we are going to need some serious maintenance work soon.",
                "Worried. These ships are durable, but I'm afraid maintenance is going to be needed soon.",
                "Concerned. Some of our ships have been attacked by Occasus cultists lately.",
                "Distressed. I'm aware we are more vulnerable than ever. I don't like it.",
                "Concerned. For some reason Occasus has been targeting our ships very recently.",

                "Pleased. It's always nice to know another space traveler.",
                "Supportive. If you are looking for options to stay, I've heard the Solar Innkeepers help travelers like you.",
                "Informative. There are some organizations out there that help travelers, like the Pathfinder League.",
                "Informative. It's a good habit to always send a salute message to any space passersby.",
                "Supportive. I advice you to avoid anomalies, you just don't know if there's something dangerous or not.",
                "Informative. Travel with care around asteroid belts. Spinemines and pirates are just some of many dangers around them.",
                "Concerned. Many travelers put themselves in unnecesary danger often, don't be like them please.",
                "Joyful. Travelers always have an interesting story or two to tell.",

                "Irritated. Pirates can be very troublesome at times.",
                "Cautious. Be careful where you go, there are pirate ships here and there.",
                "Concerned. Some pirates have been targeting us more than usual. Thankfully none of them succeed.",
                "Informative. Pirates are very oportunistic and often hide to strike.",
                "Considerate. Better to avoid anomalies and asteroid belts, pirates frequent them a lot.",

                "Amused. Bobfaes in space? ha! that's a funny image but I don't think they can.",
                "Irritated. Masteroids are such a headache.",

                "Concerned. I'm not sure why Occasus is targeting us as of late, I guess they just do.",
                "Doubtful. Do you think Occasus was really behind the destruction of Earth as they claim?",
                "Disgusted. I don't like Occasus, their ideals just turns the galaxy into a worst place for everyone.",

                "Reflective. I think often about the Ancients and their ruins, where did they go?",
                "Awed. Have you ever seen some of those Ancient gates? They are impressive.",
                "Informative. Esther Bright has some interesting papers on the Ancients.",
                "Excited. I've never been close to Ancient ruins, but I've heard they are monumental.",

                "Thoughtful. We had some education programs for the Floran, not sure if they are still up.",
                "Optimistic. We have tried to educate the Floran with the help of the Wayfarer Leaves, the results are slow but steady!",

                "Reflective. We supplied some Deadbeat communities out there, not sure if we are still doing it right now.",
                "Thoughtful. It's hard to reach Deadbeats, they tend to be a bit untrusty of... frankly anybody.",

                "Reflective. Lush planets are just so beautiful and quiet.",
                "Thoughtful. Desertic planets are quite hot, not as cool as Volcanic planets however.",
                "Informative. You have to visit a Tundra planet anytime soon, everything there is made of ice!",
                "Pleased. Volcanic planets are so cool, I guess you should have a lot of water if you visit one.",
                "Informative. Don't visit Scorched planets, they are a bit scary and tragic at the same time.",
                "Displeased. I've been informed Midnight planets are cool, yet I couldn't see anything when I visited one."
            ],
            "default": [
                "Confusion. What manner of being are you?"
            ]
        },
        "novakid": {
            "generic": [
                "You know? I ain't feelin' alone anymore.",
                "I'm just glad my friends didn't show at the 500th Anniversary.",
                "I just thought about grabbing a ship and go to Earth myself, you know, to see if Earth is really gone.",
                "I don't want to think much about all it's happening, it drains my energy.",
                "Surprisingly I don't feel hopeless.",
                "You know? I'm glad to be with my partners right now, makes me feel mighty fine.",
                "The Protectorate is gone and I'm still working!",
                "I ain't restin' any time soon.",
                "We've been moving between systems for a while. I hope we still have gas.",
                "People are showing support in their own ways. Makes me feel more hopeful.",
                "Some of our space stations are probably deserted now.",
                "Y'all have seen any Protectors out there?",

                "I'm glad our Astraeus partners are helpin' us, I ain't be able to bear any of this.",
                "I'm a bit hassled about the Envoys, they ain't used to our workload.",
                "Besides most of the Protectorate being gone, I ain't expected Envoys to do our jobs.",
                "I'm glad the 21st Astreus Fleet is helpin' us.",
                "I ain't think I've talk this much to Envoys before!",
                "A bit off-the-wall to think of Envoys doing Protector tasks, ain't complainin'!",
                "I admire our Envoys partners, they could have choose to not help yet they did.",
                "Now with the help of the Astraeus Fleet the Protectorate can be back on the play!",

                "I ain't feel much when I knew Earth was destroyed. I remembered my house was there and now I'm feeling down in the dumps.",
                "A part of me ain't believe that Earth is gone for good.",
                "Do you even know what in tarnation happened to Earth? I've just heard things...",
                "Now where I'm going to live with Earth gone?",
                "I had friends on Earth the day of the Anniversary. Hopefully they cut and run in time!",
                "I ain't from Earth, but even then I got gobsmacked as the rest of us.",
                "I'm feelin' in low spirits about what happened on Earth.",
                "I ain't even imagine how down in the mouth Humans are right now.",

                "We are accepting volunteers! If you know someone who wants to help just tell us!",
                "The Volunteer program is going slow, I hope it goes well.",
                "Day one we received a lot of help of people across the galaxy, makes you feel inspired!",
                "Not many are helpin', but I'm glad some are!",
                "I was afraid no one was going to sign on the Volunteer program, I'm glad to be proven wrong.",
                "I'm not complainin', it's good people are helping us, it's just I expected a bigger crowd.",
                "I've heard some people been using their ships to transport supplies to us.",
                "People are helpin' with their own mediums and I'm thankful for that.",

                "We've been having troubles with gas as of late.",
                "We have started to eat canned food and emergency rations. It ain't good.",
                "I just want a mighty fine meal for once and not one of those bum rations.",
                "I've heard Envoy ships have their own greenhouses, why ain't we havin' one here?",
                "Our mechanics have been pullin' off some miracles lately, we'll need some serious maintenance work soon.",
                "These ships are durable, but I'm a bit afraid maintenance is needed soon.",
                "Some of our ships have been attacked by Occasus cultists lately.",
                "I'm aware we are more vulnerable than ever. I don't like it.",
                "For some reason Occasus has been targeting our ships very recently.",

                "It's always fantastic to know another space traveler.",
                "If you are looking for options to stay, I've heard the Solar Innkeepers help wanderers like you.",
                "There are some groups out there that help travelers, like the Pathfinder League.",
                "It's a mighty fine habit to always send a salute to any travelers over yonder.",
                "Better to avoid anomalies, you ain't knowin' if there's something dangerous or not.",
                "Travel real quiet around asteroid belts. Spinemines and pirates are goin' to ruin your day.",
                "Many wanderers put themselves in needless danger often, don't be like 'em please.",
                "Travelers always have an interestin' story or two to tell.",

                "Pirates tend to spoil fun sometimes.",
                "Be real careful where you go, there's always rustlers here and there.",
                "Some bandits have been targetin' us more than usual. Good they ain't that good at it.",
                "Pirates are very oportunistic and often hide to spoil your stuff when you expect it the least.",
                "Better to avoid anomalies and asteroid belts, pirates frequent them quite a lot.",

                "Bobfaes in space? ha! that's a funny image but they ain't in space.",
                "Masteroids are real bummers.",

                "Ain't sure why Occasus is targetin' us lately, I guess they just do.",
                "Do you think Occasus was really behind the destruction of Earth as they parrot?",
                "I don't like Occasus, they just makes the galaxy into a real bad place for everyone.",

                "I think often about the Ancients and their ruins, where did they go?",
                "Have you ever seen some of those Ancient gates? They are impressive.",
                "Esther Bright has some interestin' papers on the Ancients.",
                "I've never been close to Ancient ruins, but I've heard they are monumental.",

                "We had some education programs for the Floran, ain't sure if they are still up.",
                "We have tried to educate the Floran alongside the Wayfarer Leaves, slow results but they'll get better!",

                "We supplied some Deadbeat communities out there, ain't sure if we are still doing it anymore.",
                "It's hard to reach Deadbeats, they are quite untrusty of everyone.",

                "Lush planets are just so splendid to see.",
                "Desertic planets are mighty fine, some of the best out there.",
                "Everything in Tundra planets is made of ice!",
                "Are ya visitin' a Volcanic planet any time?  You should bring a lot of water then.",
                "Don't visit Scorched planets, they are real scary and tragic.",
                "Midnight planets are so cool, I ain't havin' any problems to see there."
            ],
            "default": [
                "I ain't seen any folk like you before. What in tarnation are you?"
            ]
        }
    }
}