{
  "converse" : {
    "default" : {
      "default" : [
        "I've been assigned to this colony as a guard, don't worry, I have a license!",
        "I think we are short on guards, that's why I'm here!",
        "This place looks comfy.",
        "This Protector stuff is tiring! I swear I'm trying my best.",
		"I hope your tenants here don't get scared of me.",
		"Hey, so, I kinda want to watch TV? Do you have like an antenna or something?",
		"Yes I was a pirate, but hey, people change!",
		"My belly is growling, and it's not even my lunch time yet. Tsk.",
		"Hey there boss, just doing Protector stuff.",
		"I know I'm not trustworthy-looking, but don't judge a book by it's cover!",
		"This job gets a bit boring, I guess it's just what I do now.",
		"I'm properly trained to defuse any conflict with the power of my weap- my words, that's what I meant yes.",
		"Are ya a Protector by chance? No? Hmmm, it would be nice to have some guidance.",
		"I didn't go to Protector school, I supposed that should not stop me!",
		"This place is quite nice.",
		"I won't make any problems I promise!"
      ]
    }
  }
}
