{
  "converse" : {
    "default" : {
      "default" : [
        "I've been asigned to this colony as a Watcher, where should I help?",
        "We are kinda short on personnel, so I hope they were right to asign me here.",
        "This place looks good enough.",
        "I've been very tired lately, being a Watcher is kinda tiring.",
		"Do you get the news by any chance? I don't want to isolate myself here",
		"Do you have any form of long-distance-communication? I need to get in contact with my outpost",
		"I'm here to protect this place from bandits, pirates, cultists, corsairs and any kind of rapscallions currently out there",
		"I'm a bit hungry right now, and is not even my lunch time yet. tsk.",
		"Hey, wonder if I can take a 5-minute break, you know. I need to stretch my legs.",
		"I don't have a lot of pixels, would you accept a payment in Protectorate rations?",
		"The best part of being a guard is not having to deal with problems 95% of the times. The bad part is you get bored.",
		"My Watcher training always deliver, do not take me unseriously.",
		"Were you a Protector? I always envied the more light training you guys had to go through.",
		"I wish I could be an Envoy Watcher. I would still be bored, yes, but I'll be going to uncharted places at least.",
		"I must say, this place is quite relaxing, I don't have to stress myself a lot.",
		"Sometimes I miss my friends who went to the Graduation Ceremony, at least they won't have to deal with all the current chaos."
      ]
    }
  }
}