{
  "reattack" : {
    "default" : {
      "default" : [
        "You again!",
        "You? Again!?",
        "You came back?",
        "Go away!",
		"Just go away while you can!",
		"Let's settle this then!",
		"I'm not afraid of you!",
		"So this is what you want!?",
		"Again? Why?",
		"Just give up!",
		"You are doing my job harder buddy!",
		"What is wrong with you!?"
      ]
    },
    "glitch" : {
      "default" : [
        "Irritated. You will regret returning.",
        "Irritated. You are not supposed to return!",
        "Aggressive. Don't waste your second chances!",
        "Fearless. I'm going to settle this!",
        "Angry. How dare you return!?",
        "Impassioned. Why you keep coming!?"
      ]
    },
    "floran" : {
      "default" : [
        "Floran furiousss you came back!",
        "Hello again, prey.",
        "You came back again!?",
        "<selfname> will sstop you this time!",
        "The prey came back!"
      ]
    }
  },
  "attack" : {
    "default" : {
      "default" : [
        "I got this!",
		"Bad for you, I'm the good guy here!",
		"Time to prove myself right!",
		"I'm a Protector now buddy!",
		"I don't think I'm supposed to fight but whatever!",
		"Just run away while you can!",
		"I'm going to stop you evildoer!",
		"Stop there!",
		"I have experience dealing with people like you!",
		"I'll stop being a Protector, just for this time.",
		"Time for peace!"
      ]
    },
    "glitch" : {
      "default" : [
        "Confident. I got this!",
		"Corageous. Bad for you, I'm the good guy here!",
		"Excited. Time to prove myself right!",
		"Rousing. I'm a Protector now buddy!",
		"Conflicted. I don't think I'm supposed to fight but whatever!",
		"Alarmed. Just run away while you can!",
		"Confident. I'm going to stop you evildoer!",
		"Alarmed. Stop there!",
		"Bold. I have experience dealing with people like you!",
		"Conflicted. I'll stop being a Protector, just for this time.",
		"Corageous. Time for peace!"
      ]
    },
    "floran" : {
      "default" : [
        "<selfname> got this!",
		"Bad for you, <selfname> is the good guy here!",
		"Time to prove myself right!",
		"<selfname> is a Protector now friend!",
		"<selfname> does not think is supposed to fight but whatever!",
		"Just run away while you can!",
		"<selfname> will stop you evildoer!",
		"Stop there!",
		"<selfname> has experience dealing with people like you!",
		"<selfname> will stop being a Protector, just for this time.",
		"Time for peace!"
      ]
    }
  },
  "killedTarget" : {
    "default" : {
      "default" : [
        "Oh, I was supposed to talk things first, right?",
        "Ha! Take that! Sorry, I got excited.",
        "Yes! No, wait.",
        "I'm the Protec- oh, I think I shouldn't have done that.",
        "I wasn't planning on killing you I'm so sorry.",
        "You should had surrendered buddy.",
        "Aaand I broke one of my tenets, hell!",
        "Buddy you just made my job harder than it should.",
        "Don't worry people! I did the peace thing.",
        "Wait no! Ah shucks, I just wanted to incapacitate them.",
        "No! I wasn't supposed to kill you!",
        "Sorry! I didn't want to kill you."
      ]
    },
    "glitch" : {
      "default" : [
        "Remorseful. I was supposed to talk things first, right?",
        "Exalted. Ha! Take that! Sorry, I got excited.",
        "Conflicted. Yes! No, wait.",
        "Bummed. I'm the Protec- oh, I think I shouldn't have done that.",
        "Regretful. I wasn't planning on killing you I'm so sorry.",
        "Conflicted. You should had surrendered buddy.",
        "Angry. I broke one of my tenets, hell!",
        "Irritated. Buddy you just made my job harder than it should.",
        "Proud. Don't worry people! I did the peace thing.",
        "Conflicted. Wait no! Ah shucks, I just wanted to incapacitate them.",
        "Regretful. No! I wasn't supposed to kill you!",
        "Remorseful. Sorry! I didn't want to kill you."
      ]
    },
    "floran" : {
      "default" : [
        "Oh, <selfname> was supposed to talk things first, right?",
        "Ha! Take that! Sorry, <selfname> got excited.",
        "Yes! No, wait.",
        "<selfname> is the Protec- oh, <selfname> thinks I shouldn't have done that.",
        "<selfname> wasn't planning on killing you, my apologies.",
        "You should had surrendered friend.",
        "<selfname> just broke one of my tenets, hell!",
        "Buddy you just made my job harder than it should.",
        "Don't worry people! <selfname> did the peace thing.",
        "Wait no! Ah shucks, <selfname> just wanted to incapacitate them.",
        "No! <selfname> was not supposed to kill you!",
        "Sorry! <selfname> did not want to kill you."
      ]
    }
  },
  "lostTarget" : {
    "default" : {
      "default" : [
        "Better if you go away!",
        "Yeah go away punk!",
        "It's better for me and for you!",
        "Where are you!?",
        "You better stay away!",
        "Better hope I don't see you again!"
      ]
    },
    "glitch" : {
      "default" : [
        "Shaken. Better if you go away!",
        "Agitated. Yeah, go away you scoundrel!",
        "Irritated. It's better for me and for you!",
        "Exasperated. Where are you!?",
        "Provoked. You better stay away!",
        "Mad. Better hope I don't see you again!"
      ]
    },
    "floran" : {
      "default" : [
        "Better if you go away!",
        "Yeah go away troublemaker!",
        "It's better for me and for you!",
        "Where are you!?",
        "You better sstay away!",
        "Better hope <selfname> does not see you again!"
      ]
    }
  },
  "outOfSight" : {
    "default" : {
      "default" : [
        "Where did they go?!",
        "They got away!",
        "Bahh! Better don't show up again!",
        "Don't come back!"
      ]
    },
    "glitch" : {
      "default" : [
        "Frustrated. Where did they go?!",
        "Mad. They got away!",
        "Exasperated. Better don't show up again!",
        "Done. Don't come back!"
      ]
    },
    "floran" : {
      "default" : [
        "Where did they go?!",
        "They got away!",
        "Better don't show up again!",
        "Don't come back!"
      ]
    }
  },
  "cantReach" : {
    "default" : {
      "default" : [
        "I can't reach you!",
        "Just go away! Go!",
        "Leave us alone!",
        "Go away!",
        "Stay far from us!"
      ]
    },
    "glitch" : {
      "default" : [
        "Surly. I can't reach you!",
        "Angry. Just go away! Go!",
        "Frustrated. Leave us alone!",
        "Irritated. Go away!",
        "Exasperated. Stay far from us!"
      ]
    },
    "floran" : {
      "default" : [
        "<selfname> can't reach you!",
        "Just go away! Go!",
        "Leave us alone!",
        "Go away!",
        "Stay far from us!"
      ]
    }
  },
  "cheerOn" : {
    "default" : {
      "default" : [
        "I have a plan!",
        "Come on!"
      ]
    },
    "glitch" : {
      "default" : [
        "Commanding. Get the foe!"
      ]
    },
    "floran" : {
      "default" : [
        "I have a plan!",
        "Come on!"
      ]
    }
  }
}
