{
    "greeting": {
        "default": {
            "default": [
                "Sorry. I didn't notice you there.",
                "Oh, a new visitor! Welcome to our ship!",
                "Did you come to join the Volunteer program?",
                "Oh, are you a new volunteer?",
                "Evening! Are you here to see the captain?",
                "Greetings! The captain is in the control bay.",
                "Are you looking for the captain?",
                "Just so you know, the captain may be busy right now.",
                "Hello! It's always exciting to see a new face.",
                "I don't think we have met, have we?",
                "You just arrived, right?",
                "Oh! Hello! What's your name?"
            ]
        },
        "floran": {
            "default": [
                "<selfname> did not notice you there. Sssorry.",
                "New visitor! Welcome to our ssship!",
                "Did you come to join the Volunteer program?",
                "Are you a new volunteer?",
                "Evening! Are you here to sssee the captain?",
                "Greetingss! The captain is in the control bay.",
                "Are you looking for the captain?",
                "Jussst so you know, the captain may be busy right now.",
                "Hello! It's alwaysss exciting to see new face.",
                "<selfname> doesss not think we have met, have we?",
                "You jussst arrived, right?",
                "Oh! Hello! What'sss your name?"
            ]
        },
        "glitch": {
            "default": [
                "Surprised. I didn't notice you there.",
                "Hospitable. Oh, a new visitor! Welcome to our ship!",
                "Curious. Did you come To join the Volunteer program?",
                "Affable. Are you a new volunteer?",
                "Cordial. Evening! Are you here to see the captain?",
                "Informative. Greetings! The captain is in the control bay.",
                "Curious. Are you looking for the captain?",
                "Informative. Just so you know, the captain may be busy right now.",
                "Happy. Hello! It's always exciting to see a new face.",
                "Thoughtful. I don't think we have met, have we?",
                "Eager. You just arrived, right?",
                "Friendly. Hello! What's your name?"
            ]
        },
        "novakid": {
            "default": [
                "Sorry 'bout that. I didn't notice you there.",
                "Oh, a traveler! Welcome to our ship!",
                "Did you come to join the Volunteer program partner?",
                "Oh, are you a new volunteer?",
                "Evenin'! Are you here to see the captain?",
                "Howdy partner! The captain is in the control bay.",
                "Are ya lookin' for the captain?",
                "Just so you know, the captain may be real busy right now.",
                "Hey! It's always exciting to see a new face.",
                "I don't recall you partner, have we met before?",
                "You just arrived, right partner?",
                "Oh! Hello! What's your name?"
            ]
        }
    },
    "converse": {
        "default": {
            "generic": [
                "Things have been grim for a while. Good thing we are not alone.",
                "It's real luck that the whole 21st Astraeus fleet wasn't on Earth when it was destroyed.",
                "I thought about grabbing a ship and going to Earth myself, a part of me can't just believe it's really gone.",
                "The work is keeping me from loosing it really.",
                "I don't know how to feel about Earth, or at least I don't want to think about it.",
                "I'm just glad my crewmates and I are still together in this.",
                "Some of my friends had family on Earth, they've been really sad.",
                "I was hoping to see my family again on Earth.",
                "We've been working very hard to help the Protectorate, hope it pays off.",
                "Things are going to get better, I'm sure about it.",
                "I was hoping to get out of this ship soon, guess I won't.",
                "We are technically Protectorate, but it's not unusual for Envoys to feel as if we are a breed of its own.",

                "And I thought the job an Envoy was already hard, being a Protector is so tiring!",
                "I was a explorer, and now I do paperwork, amazing how things change, right?",
                "Hopefully we get to one of the space stations so I can get out of this ship!",
                "For sure we have a similar education to Protectors, yet they have more experience when it comes to mediating.",
                "We've been supplying many settlements for a while, the work doesn't end!",
                "We've been non-stop working to help the communities the Protectors assisted once, it's not easy.",
                "I wish there could be more hands to help, the Volunteer program is not enough.",
                "I'm oddly excited, I don't feel that sad, and helping ourselves has been very motivating.",

                "My home was destroyed on Earth, where I'm going to live now?",
                "Some of us are retiring and we are setting up some camps, some of us are lucky I guess.",
                "I was really excited to return to Earth, I've been only a few times there.",
                "There was so much on Earth to explore, and I just went for a few years.",
                "My favorite restaurant was on Earth, I'm going to miss that place.",
                "I had friends and family on Earth the day of the Anniversary, maybe they got out?",
                "I don't want to talk about Earth.",
                "The fact that I haven't seen Earth in a while makes me feel disconnected, and that actually makes me feel bad.",

                "We are accepting volunteers! If you know someone who wants to help just tell us!",
                "Day one we received a lot of help of people across the galaxy, makes you feel inspired!",
                "I was afraid no one was going to sign on the Volunteer program, I'm glad to be proven wrong.",
                "I never thought about the amount of people we have inspired with our assistance, I'm glad they are helping us!",
                "So far the Volunteer program is going well!",
                "There's some volunteers who can't stand the workload and leave, I don't judge them, this work is hard!",
                "I'm just hoping the new volunteers don't get exhausted this quick.",
                "Volunteers have a high priority to protect, the least we want is for this people to be hurted.",
                "We are already setting some camps for Envoys, volunteers and refugees to rest while we find new places to stay in.",

                "There's always that lingering preoccupation of the ship failing any time.",
                "I just hope our greenhouse capabilites are not surpassed by our current needs.",
                "I don't know how to feel about selling our stuff, I guess it's for the best.",
                "There are a couple of luxurious stuff e have that we don't really need, so we are selling them!",
                "It has been a while since our last maintenance routine. I just hope things don't go south.",
                "Envoy ships are built to last, unfortunately we not so much.",
                "In some of our ships we've started to use emergency rations, it tells you about our situation!",
                "Thank goodness Astraeus SAILs are more funny than your regular ones, they make things more bearable.",

                "Unlike Protectors, Envoys don't receive that many visits from other travelers.",
                "We've been allying ourselves with groups like the Solar Innkeepers and the Pathfinder League, we really need their help.",
                "There are some organizations out there that help travelers, like the Pathfinder League.",
                "In space there's just no shortage of marvelous and dangerous things to find.",
                "Anomalies are some of our favorite to explore, they can, of course, be very dangerous.",
                "Better avoid USCM sites, they are full of triplods and weird stuff they did, something like that.",
                "Masteroids are the worst things for us, they needlessly ruin our ship hull!",
                "I encomend you to help other travelers in these dire times, it's the best we can do.",
                "I have an interesting story or two maybe.",
                "Don't tell anyone, but there are Bobfaes in space!",

                "I'm not sure why Occasus is targeting us as of late, they are such an enigma for me.",
                "I don't think Occasus was behind the destruction of Earth, they just like to boast.",
                "I really despise Occasus, they just want the galaxy to be worse and I'm sure that wouldn't make them any happier.",

                "Archeology is not our specialty, so we don't know much about the Ancients really.",
                "Have you ever seen some of those Ancient gates? They are impressive.",
                "Esther Bright has some interesting papers on the Ancients if you want to know more about them.",
                "I've been to an Ancient temple of sorts once, it was monumental!",

                "I'm aware the Protectorate had some education programs for Florans, guess we have to see if they are still up.",
                "We have asked the Wayfarer Leaves for assistance in educating the Florans, they are more close to them after all.",

                "I'm aware the Protectorate supplied Deadbeat communities out there, guees we have to check if we still do.",
                "Deadbeats tend to be untrusty even of their own kind, that's the effect of living on planets with bare resources.",

                "My favorite planet out there? Well that's unfair, I can't just choose only one!",
                "Lush planets are quite great but be careful with local fauna.",
                "Bring water with you on Desertic planets, and light clothes too!",
                "Tundra planets are very cold, using an EPP is better for you.",
                "Volcanic planets are searing hot, using an EPP is better for you.",
                "Scorched planets are dry, hot and full of dangers, better not exploring them.",
                "Toxic planets are better to be avoided.",
                "Alien planets are trippy and amazing, just don't stay to long because of radiation.",
                "Oceanic planets are very calm and a good place to relax.",
                "Barren planets are, well, barren! Not very interesting to look at."
            ],
            "default": [
                "Sorry, I'm kinda busy right now."
            ]
        },
        "floran": {
            "generic": [
                "Things have been grim for a while. Good thing we are not alone.",
                "It's real luck that the whole 21st Astraeuss fleet wasn't on Earth when it was destroyed.",
                "<selfname> thought about grabbing a ship and going to Earth myself, a part of <selfname> can not believe it's really gone.",
                "The work is keeping <selfname> from going mad.",
                "<selfname> does not know how to feel about Earth, <selfname> does not want to think about it.",
                "<selfname> is just glad we are still together in this.",
                "Some of <selfname> friendss had family on Earth, they've been really sad.",
                "<selfname> was hoping to see Floran tribe again on Earth.",
                "We've been working very hard to help the Protectorate, <selfname> hopes it pays off.",
                "Things are going to get better, <selfname> knows.",
                "<selfname> is waiting to get out of this ship soon.",
                "We are the Protectorate, but it's not unusual for Envoys to feel as if we are a tribe of its own.",

                "<selfname> thought being an Envoy was hard, but being a Protector is double hard!",
                "<selfname> was a explorer, and now does paperwork, amazing how things change, right?",
                "Hopefully we get to one of the space stations so <selfname> can get out of thiss ship!",
                "We have a similar education to Protectors, yet they have more experience when it comes to mediating.",
                "We've been supplying many settlements for a while, the work doesn't end!",
                "We've been non-stop working to help the communities the Protectorss asssisted once, it's not easy.",
                "<selfname> wishes there could be more hands to help, the Volunteer program is not enough.",
                "<selfname> is weirdly excited, <selfname> does not feel very sad, helping ourselves is very motivating.",

                "My home was destroyed on Earth, where is <selfname> going to live now?",
                "Some of us are retiring and we are setting up some camps, some of us are very lucky.",
                "<selfname> was really excited to return to Earth, I've been only a few times there.",
                "There was so much on Earth to explore, and <selfname> just went for a few years.",
                "My favorite place to eat was on Earth, <selfname> is going to miss it.",
                "<selfname> tribe was on Earth the day of the Anniversary, maybe they got out?",
                "<selfname> does not wish to talk about Earth.",
                "<selfname> has not seen Earth for years, makes me feel disconnected and that makes me feel bad.",

                "We are accepting volunteers! If you know someone who wants to help just tell us!",
                "Day one we received a lot of help of people across the galaxy, makess you feel inspired!",
                "<selfname> wass afraid no one was going to sign up to Volunteer program, <selfname> is glad to be proven wrong.",
                "<selfname> never thought about all the people we have inspired with our asssistance, it's good to see they are helping us!",
                "So far the Volunteer program iss going well!",
                "There'ss some volunteers who can't stand the job and leave, <selfname> does not judge them, this work is hard!",
                "<selfname> hopes the new volunteers don't get quickly tired.",
                "Volunteers have a high priority to be protected, the least we want iss for this people to be hurted.",
                "We are already setting some camps for Envoys, volunteerss and refugeess to rest while we find new places to stay in.",

                "There iss always that lingering preoccupation of the ship failing any time.",
                "<selfname> hopes our greenhouse capabilites are not surpassed by our current needs.",
                "<selfname> does not know how to feel about selling our stuff, I guess it's for the best.",
                "There are a couple of luxurious stuff we have that we don't really need, so we are selling it!",
                "It has been a while since our last maintenance routine. <selfname> just hopes things don't go south.",
                "Envoy ships are built to last, unfortunately we not so much.",
                "In some of our ships we haveve started to use emergency rations, it tells you about our situation!",
                "Thank goodnesss Astraeus SAILs are more funny than your regular ones, they make things more bearable.",

                "Unlike Protectors, Envoys don't receive that many visits from other travelerss.",
                "We've been allying ourselves with groups like the Solar Innkeepers and the Pathfinder League, we really need their help.",
                "There are some organizations out there that help travelers, like the Pathfinder League.",
                "In space there's just no shortage of marvelous and dangerousss things to find.",
                "Anomalies are some of our favorite to explore, they can, of course, be very dangerous.",
                "Better avoid USCM sites, they are full of triplods and weird stuff they did, something like that.",
                "Masteroidss are the worst things for us, they needlessly ruin our ship hull!",
                "<selfname> encomends you to help other travelers in these dire times, it's the best we can do.",
                "<selfname> has an interesting story or two maybe.",
                "Don't tell anyone, but there are Bobfaes in space!",

                "<selfname> is not sure why Occasus is targeting us as of late, <selfname> just don't get them.",
                "<selfname> does not think Occasus was behind the destruction of Earth, they just like to boast.",
                "<selfname> really despises Occasus, they just want the galaxy to be worse and I'm sure that wouldn't make them any happier.",

                "Archeology is not our specialty, so we don't know much about the Ancients really.",
                "Have you ever seen some of those Ancient gatesss? They are impressive.",
                "Esther Bright has some interesting papers on the Ancients if you want to know more about them.",
                "<selfname> has been to an Ancient temple of sorts once, it was monumental!",

                "<selfname> is aware the Protectorate had some education programs for Florans, they really need them.",
                "We have asked the Wayfarer Leaves for assistance in educating the Florans, they are more close to them after all.",

                "<selfname> is aware the Protectorate supplied Deadbeat communities out there, not sure if we are still doing it.",
                "Deadbeats tend to be untrusty even of their own kind, that is the effect of living on planets with bare resources.",

                "My favorite planet out there? Well that's unfair, I can't just choose only one!",
                "Lush planets are amazing and makes <selfname> feel at rest.",
                "Desertic planets are horrible! There's barely any moisture and water there!",
                "Tundra planets are very cold, using an EPP is better for you.",
                "Volcanic planets are searing hot, <selfname> does not recomend going to them, but if you do, use an EPP.",
                "Scorched planets are dry, hot and full of dangers, better not exploring them.",
                "Toxic planets are interesting, <selfname> is quite fond of them.",
                "Alien planets are trippy and amazing, just don't stay to long because of radiation.",
                "Oceanic planets are very calm and a good place to fish on.",
                "Barren planets are, well, barren! Not very interesting to look at."
            ],
            "default": [
                "Ssstrange thing."
            ]
        },
        "glitch": {
            "generic": [
                "Optimistic. Things have been grim for a while. Good thing we are not alone.",
                "Reflective. It's real luck that the whole 21st Astraeus fleet wasn't on Earth when it was destroyed.",
                "Incredulous. I thought about grabbing a ship and going to Earth myself, a part of me can't just believe it's really gone.",
                "Pessimistic. The work is keeping me from loosing it really.",
                "Avoidant. I don't know how to feel about Earth, or at least I don't want to think about it.",
                "Relieved. I'm just glad my crewmates and I are still together in this.",
                "Worried. Some of my friends had family on Earth, they've been really sad.",
                "Despondent. I was hoping to see my family again on Earth.",
                "Optimistic. We've been working very hard to help the Protectorate, hope it pays off.",
                "Optimistic. Things are going to get better, I'm sure about it.",
                "Frustrated. I was hoping to get out of this ship soon, guess I won't.",
                "Explicative. We are also Protectorate, but it's not unusual for Envoys to feel as if we are a breed of its own.",

                "Exhausted. And I thought the job an Envoy was already hard, being a Protector is so tiring!",
                "Perplexed. I was a explorer, and now I do paperwork, amazing how things change, right?",
                "Anxious. Hopefully we get to one of the space stations so I can get out of this ship!",
                "Reflective. For sure we have a similar education to Protectors, yet they have more experience when it comes to mediating.",
                "Tired. We've been supplying many settlements for a while, the work doesn't end!",
                "Absorbed. We've been non-stop working to help the communities the Protectors assisted once, it's not easy.",
                "Exhausted. I wish there could be more hands to help, the Volunteer program is not enough.",
                "Motivated. I'm oddly excited, I don't feel that sad, and helping ourselves has been very motivating.",

                "Worried. My home was destroyed on Earth, where I'm going to live now?",
                "Envious. Some of us are retiring and we are setting up some camps, some of us are lucky I guess.",
                "Disappointed. I was really excited to return to Earth, I've been only a few times there.",
                "Disappointed. There was so much on Earth to explore, and I just went for a few years.",
                "Sad. My favorite restaurant was on Earth, I'm going to miss that place.",
                "Optimistic. I had friends and family on Earth the day of the Anniversary, maybe they got out?",
                "Avoidant. I don't want to talk about Earth.",
                "Conflicted. The fact that I haven't seen Earth in a while makes me feel disconnected, and that actually makes me feel bad.",

                "Informative. We are accepting volunteers! If you know someone who wants to help just tell us!",
                "Motivated. Day one we received a lot of help of people across the galaxy, makes you feel inspired!",
                "Relieved. I was afraid no one was going to sign on the Volunteer program, I'm glad to be proven wrong.",
                "Inspired. I never thought about the amount of people we have inspired with our assistance, I'm glad they are helping us!",
                "Positive. So far the Volunteer program is going well!",
                "Understanding. There's some volunteers who can't stand the workload and leave, I don't judge them, this work is hard!",
                "Worried. I'm just hoping the new volunteers don't get exhausted this quick.",
                "Explicative. Volunteers have a high priority to protect, the least we want is for this people to be hurted.",
                "Explicative. We are already setting some camps for Envoys, volunteers and refugees to rest while we find new places to stay in.",

                "Anxious. There's always that lingering preoccupation of the ship failing any time.",
                "Worried. I just hope our greenhouse capabilites are not surpassed by our current needs.",
                "Conflicted. I don't know how to feel about selling our stuff, I guess it's for the best.",
                "Appeased. There are a couple of luxurious stuff e have that we don't really need, so we are selling them!",
                "Concerned. It has been a while since our last maintenance routine. I just hope things don't go south.",
                "Exhausted. Envoy ships are built to last, unfortunately we not so much.",
                "Preocuppied. In some of our ships we've started to use emergency rations, it tells you about our situation!",
                "Relieved. Thank goodness Astraeus SAILs are more funny than your regular ones, they make things more bearable.",

                "Happy. Unlike Protectors, Envoys don't receive that many visits from other travelers.",
                "Explicative. We've been allying ourselves with groups like the Solar Innkeepers and the Pathfinder League, we really need their help.",
                "Informative. There are some organizations out there that help travelers, like the Pathfinder League.",
                "Explicative. In space there's just no shortage of marvelous and dangerous things to find.",
                "Explicative. Anomalies are some of our favorite to explore, they can, of course, be very dangerous.",
                "Informative. Better avoid USCM sites, they are full of triplods and weird stuff they did, something like that.",
                "Annoyed. Masteroids are the worst things for us, they needlessly ruin our ship hull!",
                "Motivated. I encomend you to help other travelers in these dire times, it's the best we can do.",
                "Informative. I have an interesting story or two maybe.",
                "Secretive. Don't tell anyone, but there are Bobfaes in space!",

                "Confused. I'm not sure why Occasus is targeting us as of late, they are such an enigma for me.",
                "Reflective. I don't think Occasus was behind the destruction of Earth, they just like to boast.",
                "Irritated. I really despise Occasus, they just want the galaxy to be worse and I'm sure that wouldn't make them any happier.",

                "Explicative. Archeology is not our specialty, so we don't know much about the Ancients really.",
                "Curious. Have you ever seen some of those Ancient gates? They are impressive.",
                "Informative. Esther Bright has some interesting papers on the Ancients if you want to know more about them.",
                "Nostalgic. I've been to an Ancient temple of sorts once, it was monumental!",

                "Uncertain. I'm aware the Protectorate had some education programs for Florans, guess we have to see if they are still up.",
                "Explicative. We have asked the Wayfarer Leaves for assistance in educating the Florans, they are more close to them after all.",

                "Uncertain. I'm aware the Protectorate supplied Deadbeat communities out there, guees we have to check if we still do.",
                "Explicative. Deadbeats tend to be untrusty even of their own kind, that's the effect of living on planets with bare resources.",

                "Conflicted. My favorite planet out there? Well that's unfair, I can't just choose only one!",
                "Intrigued. Lush planets are sort of enigmatic, to whom belong all of those ruins?",
                "Informative. If you go to a Desertic planet then bring ways to cool yourself, the heat is unforgiving.",
                "Explicative. Tundra planets are very cold and quite nice for my circuits, just remember using an EPP if you go to one.",
                "Amused. The Glitch shouldn't be fond of Volcanic planets, and yet they are!",
                "Informative. Scorched planets are dry, hot and full of dangers, I don't recommend visiting them.",
                "Annoyed. Toxic planets are terrible for my plating.",
                "Informative. Alien planets are trippy and amazing, just don't stay to long because of radiation.",
                "Explicative. Oceanic planets are very calm, I just don't go into the water.",
                "Explicative. Barren planets are, well, barren! Not very interesting to look at."
            ],
            "default": [
                "Confusion. What manner of being are you?"
            ]
        },
        "novakid": {
            "generic": [
                "Things ain't bright lately. Good thing we are not alone, right partner?",
                "It's real luck that the whole 21st Astraeus fleet wasn't on Earth when it was blown to smithereens!",
                "I just thought about grabbing a ship to go to Earth myself, you know, to see if ol' Earth is really gone.",
                "The work is keeping me from goin' nuts!",
                "Ain't sure how to feel about Earth, or at least I don't want to think about it.",
                "I'm just glad my partners and I are still on the rodeo.",
                "Some of my partners had family on Earth, they've been down in the dumps lately.",
                "I was hoping to see my family again on Earth.",
                "We've been working very hard to help the Protectorate, hope it pays off.",
                "Things are going to get better, I'm sure about it.",
                "I was hoping to get out of this ship soon, guess it ain't happening soon.",
                "We are Protectorate, for sure, but for some reason Envoys tend to feel as if we are a breed of its own.",

                "And I thought the job an Envoy does was already hard, being a Protector is tiring!",
                "I was a pioneer, and now I do paperwork, amazing how things change, don't you think partner?",
                "Hopefully we get to one of the space stations so I can take a good nap!",
                "Surely we have a similar education to Protectors, yet they have more experience when it comes to mediating.",
                "We've been supplying many settlements for a while, the work doesn't end!",
                "We've been like crazy workin' to help the communities the Protectors once helped, it ain't easy.",
                "I wish there could be more hands to help, the Volunteer program ain't enough.",
                "Oddly, i'm excited, I ain't sad, and helping ourselves has been very motivatin'.",

                "My home was destroyed on Earth, where I'm going to spend the night?",
                "Some of us are retirin' and we are setting up some camps, mighty fine deal they got.",
                "I was excited to return to Earth, I've been only a few times there.",
                "There was so much on Earth to explore, and I just went for a few years.",
                "My favorite bar was on Earth, I'm going to miss that place.",
                "I had friends on Earth the day of the Anniversary. Hopefully they cut and run in time!",
                "Not now partner, I ain't talkin' about Earth situation right now.",
                "The fact that I haven't seen Earth in a while makes me feel far away from it, and that makes me feel bad.",

                "We are acceptin' volunteers! If you know someone who wants to help just tell us!",
                "Day one we got a crowd of volunteers from across the galaxy, makes you feel inspired!",
                "I was afraid no one was going to sign up for the Volunteer program, I'm glad to be proven wrong.",
                "I never thought about all the people we have inspired with our assistance, I'm glad they are helping us!",
                "So far the Volunteer program is doin' well!",
                "There's some volunteers who can't stand the workload and leave, I ain't judgin' them, this work is hard!",
                "I'm just hopin' the new volunteers don't get exhausted fast.",
                "Volunteers have a high priority to protect, the least we want is for this people to get hurt.",
                "We are already settin' some camps for Envoys, volunteers and refugees to rest while we find new places to stay in.",

                "There's always that lingerin' preoccupation of the ship conkin' out at any time.",
                "I just hope our greenhouse capabilites are not surpassed by our hunger.",
                "Ain't sure how to feel about selling our stuff, I guess it's for the best.",
                "There are a couple of clasy stuff we have that we don't really need, so we are selling it!",
                "It has been a while since our last maintenance routine. I just hope things don't go south.",
                "Envoy ships are built to last, unfortunately ain't built the same.",
                "In some of our ships we've started to use emergency rations, it tells you about our situation!",
                "Good thing Astraeus SAILs are more funny than your regular ones, they make things more bearable.",

                "Unlike Protectors, Envoys ain't gettin' many visits from other travelers.",
                "We've been allying ourselves with groups like the Solar Innkeepers and the Pathfinder League, we really need their help.",
                "There are some organizations out there that help travelers, like the Pathfinder League.",
                "In space there's just no shortage of wonderful and dangerous things to find.",
                "Anomalies are some of our favorite to explore, they are very dangerous too.",
                "Better avoid USCM sites, they are full of triplods and other weird shenanigans they did long ago.",
                "Masteroids are the worst things for us, they needlessly ruin our ship hull!",
                "I think you should help other travelers in these dire times, it's the best we can do.",
                "I have an interesting story or two maybe.",
                "Don't tell anyone, but there are Bobfaes in space!",

                "Ain't sure why Occasus is targeting us lately, I just don't get'em.",
                "For sure, Occasus wasn't behind the destruction of Earth, they just like to boast.",
                "I really despise Occasus, they just want the galaxy to be worse and I'm sure that wouldn't make them any happier.",

                "Archeology is not our thing, so we don't know much about the Ancients really.",
                "Have you ever seen some of those Ancient gates? Mighty impressive if you ask me.",
                "Esther Bright has some interestin' papers on the Ancients if you want to know more about them.",
                "I've been to an Ancient temple of sorts once, it was big! and it felt weirdly familiar too.",

                "I'm aware the Protectorate had some education programs for Floran, ain't sure if we are still up to it.",
                "We asked the Wayfarer Leaves for assistance in educatin' the Floran, they are more close to them after all.",

                "I'm aware the Protectorate supplied Deadbeat communities out there, guees we have to check if we are still up to it.",
                "Deadbeats tend to be untrusty even of their own kind, that's the effect of living on planets with bare resources.",

                "My favorite planet out there? Well that's quite unfair, All of them have been great to explore!",
                "Lush planets are quite great but be careful with local fauna.",
                "Bring water with you on Desertic planets, and light clothes too!",
                "Tundra planets are very cold, try using the proper EPP.",
                "Volcanic planets are searing hot, try using the proper EPP.",
                "Scorched planets are dry, hot and full of dangers, better not exploring them.",
                "Toxic planets are better to be avoided.",
                "Alien planets are trippy and amazing, just don't stay too long because of radiation.",
                "Oceanic planets are very calm and a good place to relax.",
                "Barren planets are, well, barren! Not very interesting to look at."
            ],
            "default": [
                "I ain't seen any folk like you before. What in tarnation are you?"
            ]
        }
    }
}
