{
  "reattack" : {
    "default" : {
      "default" : [
        "You again!",
        "You returned!",
        "You? Again!?",
        "You came back?",
        "So you came back.",
		"I'm tired of you!",
		"Let's finish this!",
		"I'm done with you!",
		"Stop this!",
		"Again? Why?",
		"Just surrender!",
		"Are you out of your mind?",
		"Stop with this!",
		"Why are you doing this?"
      ]
    },
    "glitch" : {
      "default" : [
        "Irritated. You will regret returning.",
        "Aggressive. This time you will not escape.",
        "Fearless. I am ready to battle you once again!",
        "Angry. How dare you return!?",
        "Impassioned. You have returned only to be vanquished!"
      ]
    },
    "floran" : {
      "default" : [
        "Floran furiousss you came back!",
        "Hello again, prey.",
        "You came back again!?",
        "Floran will ssstop you this time!",
        "The prey came back!"
      ]
    }
  },
  "attack" : {
    "default" : {
      "default" : [
        "Everyone! Behind me!",
		"Quickly! Get to cover",
		"We've got hostiles!",
		"Leave this to me!",
		"I'll take care of it!",
		"Get to a safe place!",
		"I will stop you!",
		"Your mischievings will be no more!",
		"Better get away from here!",
		"You wasted your chances!",
		"You leave me no choice!",
		"No more!",
		"I must stop you!",
		"Stop with your evil deeds!",
		"Now I must stop you!",
		"You won't hurt anybody else!"
      ]
    },
    "glitch" : {
      "default" : [
        "Alarmed. Everyone! Behind me!",
		"Fearful. Quickly! Get to cover",
		"Alert. We've got hostiles!",
		"Confident. Leave this to me!",
		"Bold. I'll take care of it!",
		"Afraid. Get to a safe place!",
		"Corageous. I will stop you!",
		"Accusatory. Your mischievings will be no more!",
		"Agitated. Better get away from here!",
		"Resigned. You wasted your chances!",
		"Conflicted. You leave me no choice!",
		"Done. No more!",
		"Responsible. I must stop you!",
		"Forceful. Stop with your evil deeds!",
		"Responsible. Now I must stop you!",
		"Forceful. You won't hurt anybody else!"
      ]
    },
    "floran" : {
      "default" : [
        "Everyone! <selfname> will protect you!",
        "Quickly! Hide!",
        "We've got hunterss!",
        "Leave this to <selfname>!",
        "<selfname> will deal with this.",
		"Run and get ssafe!",
		"<selfname> will stop you!",
		"Your Hunting will be no more!",
		"Better flee from here!",
		"You have no more chances!",
		"You leave <selfname> no choice!",
		"No more with your Hunt!",
		"<selfname> must sstop you!",
		"Stop with your evil hunting!",
		"Now <selfname> musst stop you!",
		"You won't hurt anybody elsse!"
      ]
    }
  },
  "killedTarget" : {
    "default" : {
      "default" : [
        "It was the only way.",
        "It shouldn't end like this.",
        "I'm so sorry.",
        "Everybody! It's safe now.",
        "I wish there could be other way.",
        "You should had surrendered.",
        "I won, but at what cost?",
        "In another time, we could been allies.",
        "It's safe now!",
        "You left me no choice.",
        "What other choice there was?",
        "That's what you get for messing with us.",
		"Between you and them, I choose them.",
		"Your deeds are over.",
		"Why things had to end like this?",
		"No more fights, It's over."
      ]
    },
    "glitch" : {
      "default" : [
        "Conflicted. It was the only way.",
        "Guilty. It shouldn't end like this.",
        "Guilty. I'm sorry.",
        "Relieved. Everybody! It's safe now.",
        "Regretful. I wish there could be other way.",
        "Serious. You should had surrendered.",
        "Conflicted. I won, but at what cost?",
        "Resigned. It's how things simply are right now.",
        "Reassured. It's safe now!",
        "Remorseful. You left me no choice.",
        "Ashamed. What other choice there was?",
        "Frustrated. That's what you get for messing with us.",
		"Reassured. Between you and them, I choose them.",
		"Done. Your deeds are over.",
		"Earnest. Why things had to end like this?",
		"Tired. No more fights, It's over."
      ]
    },
    "floran" : {
      "default" : [
        "It was the only way.",
        "It shouldn't end like this.",
        "<selfname> iss sorry.",
        "Everybody! It is safe now.",
        "<selfname> wishes for an alternative.",
        "You should had ssurrendered.",
        "<selfname> won, but at what cost?",
        "Things are like thiss now.",
        "Everyone! It iss safe now!",
        "You left <selfname> no choice.",
        "What other choice there wasss?",
        "You don't get to mess with us.",
		"Between you and them, I choose them.",
		"Your deeds are over.",
		"Why thingss had to end like this?",
		"No more fights, It's over."
      ]
    }
  },
  "lostTarget" : {
    "default" : {
      "default" : [
        "Better if you go away!",
        "If I was you, I would use this chance to run away!",
        "Don't come back!",
        "Where are you!?",
        "You better stay away!",
        "I don't want to see you around!"
      ]
    },
    "glitch" : {
      "default" : [
        "Shaken. Better you go away!",
        "Agitated. If I was you, I would use this chance to run away!",
        "Irritated. Don't come back!",
        "Exasperated. Where are you!?",
        "Provoked. You better stay away!",
        "Mad. I don't want to see you around!"
      ]
    },
    "floran" : {
      "default" : [
        "Better you run away!",
        "<selfname> would use this chance to run away if I was you!",
        "Don't come back!",
        "Where are you!?",
        "You better sstay away!",
        "<selfname> doesn't want to see you around!"
      ]
    }
  },
  "outOfSight" : {
    "default" : {
      "default" : [
        "Where did they go?!",
        "They got away!",
        "Bahh! Better don't show up again!",
        "Don't come back!"
      ]
    },
    "glitch" : {
      "default" : [
        "Frustrated. Where did they go?!",
        "Mad. They got away!",
        "Exasperated. Better don't show up again!",
        "Done. Don't come back!"
      ]
    },
    "floran" : {
      "default" : [
        "Where did they go?!",
        "They got away!",
        "Better don't show up again!",
        "Don't come back!"
      ]
    }
  },
  "cantReach" : {
    "default" : {
      "default" : [
        "I can't reach you!",
        "Just go away! Go!",
        "Leave us alone!",
        "Go away!",
        "Stay far from us!"
      ]
    },
    "glitch" : {
      "default" : [
        "Surly. I can't reach you!",
        "Angry. Just go away! Go!",
        "Frustrated. Leave us alone!",
        "Irritated. Go away!",
        "Exasperated. Stay far from us!"
      ]
    },
    "floran" : {
      "default" : [
        "<selfname> can't reach you!",
        "Just go away! Go!",
        "Leave us alone!",
        "Go away!",
        "Stay far from us!"
      ]
    }
  },
  "cheerOn" : {
    "default" : {
      "default" : [
        "I have a plan!",
        "Come on!"
      ]
    },
    "glitch" : {
      "default" : [
        "Commanding. Get the foe!"
      ]
    },
    "floran" : {
      "default" : [
        "I have a plan!",
        "Come on!"
      ]
    }
  }
}
