{
    "converse": {
        "default": {
            "generic": [
                "We didn't knew about the Protectorate immediately when it happened.",
                "Everything has been oddly surreal nowadays.",
                "Since the destruction of the Protectorate things inside the habitat stopped being boring.",
                "It felt weird knowing about the Protectorate situation while being unable to do anything.",
                "My first instinct when aknowledging the fall of the Protectorate was to leave the habitat, I didn't because I simply couldn't",
                "And when I thought my time in this place was close to end the Protectorate is completely destroyed.",
                "I've been very anxious about our current situation, what if the habitat breaks and we need supplies that now we can't get?",
                "I'm just hoping that the habitat doesn't start to malfunction right now.",
                "What if everything is happening it's just an extremely well crafted joke?",


                "I don't know how to feel about the Astreus program taking the steering wheel.",
                "I have interacted with Envoys more than ever in my life.",
                "It's really a miracle that the 21st Astraeus Fleet didn't get destroyed alongside Earth and the rest of the Protectorate.",
                "Envoys come and go frequently here around, you don't stop knowing new people!",
                "I have even more respect for Envoys now, they have to endure the weight of the Protectorate all on their own.",
                "Thankfully, Envoys have been doing rounds consistently at our habitat, makes me feel less lonely.",
                "To think that now our habitats are getting more attention is both amazing and also concerning.",
                "I'm just glad Envoys are helping us out, I would have gone mad thinking of being alone in this place!",
                "Well, it's good to know Envoys are doing the best they can.",
                "With the help of the 21st Astraeus fleet, the Protectorate will get back on its legs very soon!",

                "Did you know Artificial Biospheres are modular? They can be expanded and modified as needed.",
                "Yes, habitats like these need to be very big for such a small crew.",
                "Artificial habitats are not really open to public, not until now at least.",
                "There was a lot of paperwork before the fall of the Protectorate, I don't really miss that part!",
                "Fail? Well yes, that could happen, thankfully this one has not failed as of today.",

                "Going from a few couple of people living here to being very crowded is just a wild transition.",
                "Habitats were not made to support more than a handful of people inside, this situation is getting me anxious.",
                "I don't know if I want Biospheres to be more than what they are, not that I can oppose.",
                "Makes sense to choose Biospheres as strategic places, their modularity is certainly a game changer.",
                "I swear yesterday we were just bored to death, now we have to run this place as if it was a commercial plaza!",

                "Sometimes habitats can be used temporarily, like, if we want to grow a decaying population of an important plant, tree or animal.",
                "Sometimes habitats are permanent, we save endemic ecosystems, however, we still try to find a place somewhere else for it.",
                "I have heard some ecosystems end up dying anyways despite our efforts, sometimes it's just like that.",
                "No habitat is impervious to damage or decay, that's why we always try to find places where to safely reinsert these ecosystems.",
                "Biospheres are technological wonders, we have to do barely anything!",

                "There had not been any technical problems so far, but I woundn't rule them out, honestly.",
                "Last week we repaired our shield, which is the only thing making these things impervious!",
                "Modules fail from time to time, good thing each one has their own generator.",
                "Our medical bay had to be replaced last time, we can't afford to lose that one in particular yet again!",
                "I'm afraid all of our new functions could overload the Biosphere systems.",

                "I was told we had to give priority to storage modules and modified quuarter room modules too, mostly for people!",
                "I'm not into the idea of crowding this place, I'm simply not used to it!",
                "Ah, are you looking into getting a place here? I suppose we can make acomodations.",
                "If you know of people who need a place to stay, you can inform them we have some space for them here.",
                "The crew capacity of the Biosphere can, theoretically, sustain a population of 200. Theoretically.",

                "Volunteers? Yes, I have seen them here from time to time.",
                "Not many volunteers here around really, Envoys tend to rest here more than anything.",
                "Most volunteers are helping in camp sites and ships, they don't tend to be here that often.",
                "I suppose you can sign here for the Volunteer program, if anything I have to dial some people to come and get you.",
                "Envoys visit us so often that there's no need of extra help from volunteers, most of them are just passing by."
            ]
        },
        "floran": {
            "generic": [
                "We didn't knew about the Protectorate immediately when it happened.",
                "Everything has felt like a dream nowadays.",
                "<selfname> thinks things are less boring since the destruction of the Protectorate.",
                "Feelss weird knowing about the Protectorate situation and not being able to do anything.",
                "<selfname> first instinct when aknowledging the fall of the Protectorate was to leave the habitat, but, where would <selfname> go?",
                "And when <selfname> thought my time in this place was clossse to end the Protectorate is completely destroyed.",
                "<selfname> is very anxious about our current situation, what if the habitat breaks and we can't fix it?",
                "<selfname> hopess the habitat doesn't start to malfunction right now.",
                "What if everything happening it's just an extremely well crafted trick?",

                "<selfname> doesn't know how to feel about Envoyss being in charge.",
                "<selfname> has interacted with Envoyss more than ever in my life.",
                "It's a miracle that the 21st Astraeus Fleet didn't get destroyed with Earth and the Protectorate.",
                "Envoyss come and go frequently here around, you don't stop knowing new people!",
                "<selfname> has more respect for Envoyss now, they have to endure the weight of the Protectorate all on their own.",
                "Thankfully, Envoyss have been doing roundss consistently here, makess <selfname> feel less lonely.",
                "It's great that now our habitats are getting more attention, it's also somewhat concerning.",
                "<selfname> is glad Envoyss are helping us, <selfname> would have gone mad thinking of being alone in this place!",
                "Well, it's good to know Envoyss are doing the best they can.",
                "With the help of the 21ssst Astraeus fleet, the Protectorate will get back on hunt again!",

                "Did you know Artificial Biospheres are modular? They can be expanded and modified as needed.",
                "Yesss, habitats like these need to be very big for such a small crew.",
                "Artificial habitatss are not really open to public, not until now at least.",
                "There was a lot of paperwork before the fall of the Protectorate, <selfname> doesn't miss that part!",
                "Fail? Well yes, that could happen, thankfully this one has not failed as of today.",

                "Going from a few couple of people living here to being very crowded is not easy to get used to.",
                "Habitatss were not made to support more than a handful of people inside, this situation is getting <selfname> anxious.",
                "<selfname> doesn't know if Biospheres should be more than what they are, not that <selfname> can oppose.",
                "Makes sense to choose Biospheres as important places, their modularity is certainly an advantage.",
                "<selfname> remembers being bored to death like it was yesterday, now we have to run this place as if it was a hunting party!",

                "Sometimess habitats can be used temporarily, like, if we want to grow a decaying population of an important plant, tree or animal.",
                "Sometimes habitats are permanent, we save endemic ecosystems, however, we still try to find a place somewhere else for it.",
                "<selfname> has heard some ecosystemsss end up dying despite our efforts, nature is that way more than often.",
                "No habitat is impervious to damage or decay, that's why we always try to find places where to safely reinsert these ecosystemssw.",
                "Biospheresw are technological wonders, we have to do barely anything!",

                "No technical problems so far, but <selfname> woundn't rule them out to in all honesty.",
                "Last week we repaired our shield, which is the only thing making this place a fortress!",
                "Modules fail from time to time, good thing each one hasss their own generator.",
                "Our medical bay had to be replaced last time, we can't really lose that one again!",
                "<selfname> fears all of our new functions could overload the Biosphere systemsss.",

                "<selfname> was told we had to give priority to storage modules and modified quuarter room modules too, mostly for people!",
                "<selfname> doesn't like too much people in one place, <selfname> is not used to it!",
                "Are you looking for a place here? I suppose we can make acomodationsss.",
                "If you know of people who need a place to sstay, you can tell them we have some space for them here.",
                "The crew capacity of the Biosphere can, theoretically, sustain a population of 200. Theoretically.",

                "Volunteersss? Yes, <selfname> has seen them here from time to time.",
                "Not many volunteersss here around, Envoyss tend to rest here more than anything.",
                "Most volunteersss are helping in camps and shipss, they don't tend to be here..",
                "<selfname> guesses you can sign here for the Volunteer program, if anything <selfname> must contact people to come and get you.",
                "Envoyss visit us so often that there's no need of extra help from volunteers, most of them just visit uss."
            ],
            "default": [
                "Ssstrange thing."
            ]
        },
        "glitch": {
            "generic": [
                "Explicative. We didn't knew about the Protectorate immediately when it happened.",
                "Reflective. Everything has been oddly surreal nowadays.",
                "Reflective. Since the destruction of the Protectorate things inside the habitat stopped being boring.",
                "Guilt. It felt weird knowing about the Protectorate situation while being unable to do anything.",
                "Resigned. My first instinct when aknowledging the fall of the Protectorate was to leave the habitat, I didn't because I simply couldn't",
                "Frustrated. And when I thought my time in this place was close to end the Protectorate is completely destroyed.",
                "Anxious. I've been very anxious about our current situation, what if the habitat breaks and we need supplies that now we can't get?",
                "Worried. I'm just hoping that the habitat doesn't start to malfunction right now.",
                "Irritated. What if everything is happening it's just an extremely well crafted joke?",

                "Unsure. I don't know how to feel about the Astreus program taking the steering wheel.",
                "Amazed. I have interacted with Envoys more than ever in my life.",
                "Impressed. It's really a miracle that the 21st Astraeus Fleet didn't get destroyed alongside Earth and the rest of the Protectorate.",
                "Uplifted. Envoys come and go frequently here around, you don't stop knowing new people!",
                "Admiring. I have even more respect for Envoys now, they have to endure the weight of the Protectorate all on their own.",
                "Uplifted. Thankfully, Envoys have been doing rounds consistently at our habitat, makes me feel less lonely.",
                "Conflicted. To think that now our habitats are getting more attention is both amazing and also concerning.",
                "Relieved. I'm just glad Envoys are helping us out, I would have gone mad thinking of being alone in this place!",
                "Uplifted. Well, it's good to know Envoys are doing the best they can.",
                "Hopeful. With the help of the 21st Astraeus fleet, the Protectorate will get back on its legs very soon!",

                "Explicative. Did you know Artificial Biospheres are modular? They can be expanded and modified as needed.",
                "Explicative. Yes, habitats like these need to be very big for such a small crew.",
                "Concerned. Artificial habitats are not really open to public, not until now at least.",
                "Relieved. There was a lot of paperwork before the fall of the Protectorate, I don't really miss that part!",
                "Confident. Fail? Well yes, that could happen, thankfully this one has not failed as of today.",

                "Exhausted. Going from a few couple of people living here to being very crowded is just a wild transition.",
                "Concerned. Habitats were not made to support more than a handful of people inside, this situation is getting me anxious.",
                "Resigned. I don't know if I want Biospheres to be more than what they are, not that I can oppose.",
                "Reflective. Makes sense to choose Biospheres as strategic places, their modularity is certainly a game changer.",
                "Annoyed. I swear yesterday we were just bored to death, now we have to run this place as if it was a commercial plaza!",

                "Explicative. Sometimes habitats can be used temporarily, like, if we want to grow a decaying population of an important plant, tree or animal.",
                "Explicative. Sometimes habitats are permanent, we save endemic ecosystems, however, we still try to find a place somewhere else for it.",
                "Resigned. I have heard some ecosystems end up dying anyways despite our efforts, sometimes it's just like that.",
                "Descriptive. No habitat is impervious to damage or decay, that's why we always try to find places where to safely reinsert these ecosystems.",
                "Confident. Biospheres are technological wonders, we have to do barely anything!",

                "Concerned. There had not been any technical problems so far, but I woundn't rule them out, honestly.",
                "Worried. Last week we repaired our shield, which is the only thing making these things impervious!",
                "Relieved. Modules fail from time to time, good thing each one has their own generator.",
                "Distressed. Our medical bay had to be replaced last time, we can't afford to lose that one in particular yet again!",
                "Worried. I'm afraid all of our new functions could overload the Biosphere systems.",

                "Descriptive. I was told we had to give priority to storage modules and modified quarter room modules too, mostly for people!",
                "Distressed. I'm not into the idea of crowding this place, I'm simply not used to it!",
                "Insightful. Ah, are you looking into getting a place here? I suppose we can make acomodations.",
                "Informative. If you know of people who need a place to stay, you can inform them we have some space for them here.",
                "Reflective. The crew capacity of the Biosphere can, theoretically, sustain a population of 200. Theoretically.",

                "Reflective. Volunteers? Yes, I have seen them here from time to time.",
                "Explicative. Not many volunteers here around really, Envoys tend to rest here more than anything.",
                "Informative. Most volunteers are helping in camp sites and ships, they don't tend to be here that often.",
                "Informative. I suppose you can sign here for the Volunteer program, if anything I have to dial some people to come and get you.",
                "Explicative. Envoys visit us so often that there's no need of extra help from volunteers, most of them are just passing by."
            ],
            "default": [
                "Confusion. What manner of being are you?"
            ]
        },
        "novakid": {
            "generic": [
                "We didn't knew about the Protectorate immediately when it happened.",
                "Everything has been dreamy, like a desert mirage.",
                "Since the fall of the Protectorate things here are more interestin'.",
                "Feels weird knowing about the Protectorate situation while being unable to do anything.",
                "My first instinct when knowing abput the fall of the Protectorate was to leave, I didn't because I couldn't",
                "And when I thought my time in this place was close to end the Protectorate is just blown to smithereens.",
                "I've been uneasy about our current situation, what if this place goes to hell and we can't do anythin'?",
                "I'm just hoping that the habitat ain't start malfunctioning now.",
                "What if everything is happenin' it's just an elaborated prank?",


                "Ain't sure how to feel about the Astreus program taking the leash.",
                "I've been interactin' with Envoys more than ever in my life.",
                "It's really a miracle that the 21st Astraeus Fleet didn't get blown up with Earth and the rest of the Protectorate.",
                "Envoys come and go frequently here around, you don't stop knowing new people!",
                "I have more respect for Envoys now, they have to endure the weight of the Protectorate all on their own.",
                "Envoys have been doing rounds consistently at our habitat, makes me feel less lonely.",
                "To think that now our habitats are gettin' more attention is both amazing and also concerning.",
                "I'm just glad Envoys are helping us out, I would have gone mad thinking of being alone in this place!",
                "Well, it's good to know Envoys are doing the best they can.",
                "With the help of the 21st Astraeus fleet, the Protectorate will get back on its legs very soon!",

                "Did you know Artificial Biospheres are modular? They can be customized as needed.",
                "Yes, habitats like these need to be very big for such a small crew.",
                "Artificial habitats are not really open to public, not until now at least.",
                "There was a lot of paperwork before the fall of the Protectorate, ain't missin' that part!",
                "Fail? Yeah, that could happen, thankfully this one has not failed as of today.",

                "Going from a few couple of people livin' here to being very crowded is just a wild transition.",
                "Habitats were not made to support more than a handful of people inside, this situation is getting me anxious.",
                "Ain't sure if I want Biospheres to be more than what they are, not that I can oppose.",
                "Makes sense to choose Biospheres as strategic places, their modularity is certainly a game changer.",
                "I swear yesterday we were just bored to death, now we have to run this place like it was a rodeo!",

                "Sometimes habitats can be used temporarily, like, if we want to grow a decaying population of an important plant, tree or animal.",
                "Sometimes habitats are permanent, we save endemic ecosystems, however, we still try to find a place somewhere else for it.",
                "I have heard some ecosystems end up dying anyways despite our efforts, sometimes it's just like that.",
                "No habitat is impervious to damage or decay, that's why we always try to find places where to safely reinsert these ecosystems.",
                "Biospheres are technological wonders, we have to do barely anything!",

                "There had not been any technical problems so far, but I woundn't rule them out, honestly.",
                "Last week we repaired our shield, which is the only thing making these things like a fort!",
                "Modules fail from time to time, good thing each one has their own generator.",
                "Our medical bay had to be replaced last time, we can't afford to lose that one in particular again!",
                "I'm afraid all of our new functions could overload the Biosphere systems.",

                "I was told we had to give priority to storage modules and modified quuarter room modules too, mostly for people!",
                "I'm not into the idea of crowdin' this place, I'm simply not used to it!",
                "Ah, are you looking into gettin' a place here? I suppose we can make acomodations.",
                "If you know of people who need a place to stay, you can inform them we have some space for them here.",
                "The crew capacity of the Biosphere can, theoretically, sustain a population of 200. Theoretically.",

                "Volunteers? Yes, I have seen them here from time to time.",
                "Not many volunteers here around really, Envoys tend to rest here more than anything.",
                "Most volunteers are helping in camp sites and ships, they don't tend to be here that often.",
                "I suppose you can sign here for the Volunteer program, if anything I have to dial some people to come and get you.",
                "Envoys visit us so often that there's no need of extra help from volunteers, most of them are just passing by."
            ],
            "default": [
                "I ain't seen any folk like you before. What in tarnation are you?"
            ]
        }
    }
}