{
    "converse": {
        "default": {
            "generic": [
                "Why I joined in? I guess I wanted to return the favor.",
                "I never thought the Protectore could ever need our help, yet here we are!",
                "Well, having the Protectorate is way better than not having it, so that's why I'm here helping!",
                "I joined in because the Protectorate helped my community many times. I'm returning the favor.",
                "One of my friends motivated me to help the Protectorate. It has been hard work, but I hope it pays off!",

                "We've been doing a lot of stuff as of late.",
                "I've never thought about how messy cargo storage can be, it certainly took me by surprise.",
                "Some volunteers are filling paperwork roles, they are really important.",
                "Me? well, I know a couple of things when it comes to ship engines, so that's were I've been helping.",
                "Sometimes I do gardening, which doesn't sound like much, but it's helpful if you have a greenhouse.",
                "Tailoring is just a hobby of mine but I've been repairing uniforms very often, one doesn't think how often they get torn.",
                "I'm a cook. A really good one.",
                "I've been learning to mediate and negotiate like a Protector, it's really hard!",
                "I have accompanied some Protectors to help with diplomatic situations, I'm still learning the ins and outs of them.",
                "I have accompanied some Envoys to help with diplomatic situations, I thing we were all figuring it out.",
                "One thinks Protector stuff is really easy, I thought it was just talking and hugging each other.",

                "I don't think I ever went to Earth. Guess I never will.",
                "Do you think what happened to Earth could happen in other planets too?",
                "Who would have destroyed Earth? I don't think those Occasus idiots did, they aren't that competent.",
                "I forget sometimes that the Protectorate is in a dire situation, the optimism eveyrone has really helps.",
                "It doesn't feel like the Protectorate needs help really, but they do, so I try to not forget that fact.",

                "I have heard about Masteroids, but I didn't know how annoying they are.",
                "This is just a great oportunity to know new planets!",
                "It's nice to volunteer for the Protectorate, you get to know a lot of unique places and people.",
                "How many new settlements I have visited? I lost count already.",
                "You get to know new people, I have made a lot of friends already!",
                "Before volunteering I didn't get to travel that often, now travelling is the thing I do the most!",
                "People keep saying there are Bobfaes in space, that's just not true! It's impossible!",
                "There are a lot of space travelers, it's always nice to meet a new one.",
                "This is the first time I travel in a spaceship. Just as cool as I imagined it would be.",
                "This is the first time I travel in a spaceship. I thought it was better than it is.",
                "There is a small group of people who has never traveled in space ever. I was one of those.",
                "I like to travel, but for once, I would like to settle down just for a couple days.",
                "Traveling this much was exciting at first, but now it's more tiring than anything.",
                "Traveling on land is already tiring, traveling in space is even more!",
                "I've heard we were going to make a stop at one of the camps, hopefully to take some rest.",
                "Right now we have been hopping from one system to another.",
                "We are starting our traveling cycle again, you know, to give out supplies and such.",
                "We are close to the end of our traveling cycle, we need to resupply ourselves with more goods."
            ],
            "default": [
                "Sorry, I'm kinda busy right now."
            ]
        },
        "floran": {
            "generic": [
                "Floran joined to return favor to the Protectorate.",
                "Floran never thought the Protectore could ever need help, but that moment hass arrived!",
                "Floran thinksss the galaxy is better with Protectorate than without Protectorate. That's why Floran helps!",
                "Floran joined because Protectorate helped Floran tribe, so Floran returns help.",
                "Floran friends motivated me to help the Protectorate. It's a lot of hard work, Floran hopes itss worth it.",

                "Volunteers have been doing a lot of stuff.",
                "Floran didn't know about cargo storing, it's nedlessly messsy.",
                "Volunteers are doing paper work, and Floran just understood how important it isss.",
                "Floran has repaired ship engines before, I know about it.",
                "Floran knows a lot about plants, it can be helpful if you have greenhouse.",
                "Sewing is one of many skills Floran has. Uniformsss get torn too much, so Floran stitch them back together.",
                "Floran knows how to cook. Floran is really good at cooking.",
                "Floran has learned to be like Protectors. It's hard!",
                "Floran has accompanied Protectors to help with diplomacy, Floran has a lot to learn about it.",
                "Floran has accompanied  Envoys to help with diplomacy, all of us have a lot to learn about it.",
                "Floran thought Protector stuff is really easy, but it's more than just talking and hugging each other.",

                "Floran never went to Earth.",
                "You think what happened to Earth could happen to other planets?",
                "Who would have destroyed Earth? Floran does not believe Occasus did it, they are bad at stuff.",
                "Floran forgets that the Protectorate is in a dire situation, the optimism everybody has helpsss.",
                "Doesn't feel like Protectorate needs help, but they do, Floran tries to not forget that.",

                "Floran has heard about Masteroids, do you think they are hard to hunt?",
                "Volunteering is great to know new planets!",
                "Floran likes to volunteer for Protectorate, you can know a lot of unique places and people.",
                "How many new tribes I have visited? Floran has lost count already.",
                "Floran has made a lot of friends!",
                "Floran didn't get to travel a lot before being volunteer, now Floran travels a lot!",
                "Floran hears people saying there are Bobfaes in space, Floran thinksss that's impossible!",
                "There are a lot of space travelers, it's nice to meet a new one.",
                "Floran travels in a spaceship for the first time. Is very cool, just as Floran imagined it.",
                "Floran travels in a spaceship for the first time. Floran doesn't really like it.",
                "Floran knowsss some people have never traveled in space. Floran was one of those.",
                "Floran likes to travel, yet I would like to rest for a while.",
                "Traveling was exciting at first, but now it's very tiring.",
                "Traveling on land is tiring, traveling in space is even more!",
                "Floran heard we are stopping at one of the campsss, Floran hopesss to take rest.",
                "We have been hopping from one system to another.",
                "We are starting our traveling cycle again to give out goodsss.",
                "We are close to the end of our traveling cycle, we need to get more goodsss."
            ],
            "default": [
                "Ssstrange thing."
            ]
        },
        "glitch": {
            "generic": [
                "Explicative. Why I joined in? I guess I wanted to return the favor.",
                "Reflective. I never thought the Protectore could ever need our help, yet here we are!",
                "Logical. Having the Protectorate is way better than not having it, so that's why I'm here helping!",
                "Inspired. I joined in because the Protectorate helped my community many times. I'm returning the favor.",
                "Motivated. One of my friends motivated me to help the Protectorate. It has been hard work, but I hope it pays off!",

                "Absorbed. We've been doing a lot of stuff as of late.",
                "Reflective. I've never thought about how messy cargo storage can be, it certainly took me by surprise.",
                "Informative. Some volunteers are filling paperwork roles, they are really important.",
                "Explicative. I know a couple of things when it comes to ship engines, so that's were I've been helping.",
                "Explicative. Sometimes I do gardening, which doesn't sound like much, but it's helpful if you have a greenhouse.",
                "Absorbed. Tailoring is just a hobby of mine but I've been repairing uniforms very often, one doesn't think how often they get torn.",
                "Decided. I'm a cook. A really good one.",
                "Excited. I've been learning to mediate and negotiate like a Protector, it's really hard!",
                "Thoughtful. I have accompanied some Protectors to help with diplomatic situations, I'm still learning the ins and outs of them.",
                "Thoughtful. I have accompanied some Envoys to help with diplomatic situations, I thing we were all figuring it out.",
                "Reflective. I thought Protector stuff is really easy, I thought it was just talking and hugging each other.",

                "Dissapointed. I don't think I ever went to Earth. Guess I never will.",
                "Anxious. Do you think what happened to Earth could happen in other planets too?",
                "Concerned. Who would have destroyed Earth? I don't think those Occasus idiots did, they aren't that competent.",
                "Optimistic. I forget sometimes that the Protectorate is in a dire situation, the optimism everyone has really helps.",
                "Uplifted. It doesn't feel like the Protectorate needs help really, but they do, so I try to not forget that fact.",

                "Annoyed. I have heard about Masteroids, but I didn't know how annoying they are.",
                "Excited. This is just a great oportunity to know new planets!",
                "Fulfilled. It's nice to volunteer for the Protectorate, you get to know a lot of unique places and people.",
                "Thoughtful. How many new settlements I have visited? I lost count already.",
                "Joyful. You get to know new people, I have made a lot of friends already!",
                "Fulfilled. Before volunteering I didn't get to travel that often, now travelling is the thing I do the most!",
                "Annoyed. People keep saying there are Bobfaes in space, that's just not true! It's impossible!",
                "Excited. There are a lot of space travelers, it's always nice to meet a new one.",
                "Fulfilled. This is the first time I travel in a spaceship. Just as cool as I imagined it would be.",
                "Disappointed. This is the first time I travel in a spaceship. I thought it was better than it is.",
                "Informative. There is a small group of people who has never traveled in space ever. I was one of those.",
                "Tired. I like to travel, but for once, I would like to settle down just for a couple days.",
                "Disappointed. Traveling this much was exciting at first, but now it's more tiring than anything.",
                "Explicative. Traveling on land is already tiring, traveling in space is even more!",
                "Expectant. I've heard we were going to make a stop at one of the camps, hopefully to take some rest.",
                "Informative. Right now we have been hopping from one system to another.",
                "Explicative. We are starting our traveling cycle again, you know, to give out supplies and such.",
                "Explicative. We are close to the end of our traveling cycle, we need to resupply ourselves with more goods."
            ],
            "default": [
                "Confusion. What manner of being are you?"
            ]
        },
        "novakid": {
            "generic": [
                "Why I joined in? Well, I wanted to return the favor.",
                "Never thought the Protectore could ever need help, yet here we are!",
                "Well, havin' the Protectorate is better than not, so that's why I'm here helpin'!",
                "I joined in because the Protectorate helped our town a lot. I'm returnin' the favor.",
                "One of my partners motivated me to help the Protectorate. It ain't easy, so I hope it pays off!",

                "We've been doin' lots 'o' stuff lately.",
                "Ain't thought about how messy cargo storage can be, it certainly catched me by surprise.",
                "Some volunteers are filling paperwork roles, I guess they are real important.",
                "I know a couple of things when it comes to ship engines, so that's were I've been helping.",
                "Sometimes I do gardening, which doesn't sound like somethin' Novakids do, but I do know.",
                "Tailorin' is just a hobby of mine but I've been repairin' uniforms very often, one doesn't think how often they get torn.",
                "I'm a cook. A mighty fine one.",
                "I've been learning to mediate and negotiate like a Protector, quite hard!",
                "I have accompanied some Protectors to help with diplomatic situations, I'm still learnin' the ways of it.",
                "I have accompanied some Envoys to help with diplomatic situations, I thing we were all figuring it out.",
                "One thinks Protector stuff is really easy, but it's hard to get out of the \"shoot first, ask later\" mentality.",

                "I don't think I ever went to Earth. Guess that ain't happenin'.",
                "Do you think what happened to Earth could happen in other planets too?",
                "Who would have destroyed Earth? I don't think those Occasus idiots did, they ain't that competent.",
                "I forget sometimes that the Protectorate is in a dire situation, the optimism everyone has really helps.",
                "It doesn't feel like the Protectorate needs help really, but they do, so I try to not forget that fact.",

                "I have heard about Masteroids, but I wan't sure about how annoying they are.",
                "This is just a great oportunity to know new planets!",
                "It's nice to volunteer for the Protectorate, you get to know a lot of unique places and people.",
                "How many new settlements have I visited? I lost count already.",
                "You get to know new people, I have made a lot of friends already!",
                "Before volunteerin' I ain't get to travel that often, now travellin' is the thing I do the most!",
                "People keep sayin' there are Bobfaes in space, that's just not true! It's impossible!",
                "There are a lot of space travelers, it's always nice to meet a new one.",
                "This is my first time in a spaceship. Just as cool as I imagined it would be.",
                "This is my first time in a spaceship. I thought it was better than it is.",
                "There is a small crowd of people who has never traveled in space ever. I was one of those fellows.",
                "I like to travel, but for once, I would like to settle down just for a couple days.",
                "Travelin' this much was exciting at first, but now it's real tirin'!",
                "Travelin' on land is already tirin', travelin' in space is even more!",
                "I've heard we were going to make a stop at one of the camps, hopefully to take some rest.",
                "Right now we've been hopping from one system to another.",
                "We are starting our travelin' cycle again, you know, to give out supplies and such.",
                "We are close to the end of our travelin' cycle, we need to resupply ourselves with more goods."
            ],
            "default": [
                "I ain't seen any folk like you before. What in tarnation are you?"
            ]
        }
    }
}
