{
    "converse": {
        "default": {
            "generic": [
                "Why did I join in? I guess I wanted to return the favor.",
                "I never thought the Protectorate could ever need our help, yet here we are!",
                "Well, having the Protectorate is way better than not having it, so that's why I'm helping!",
                "I joined up because the Protectorate helped my community many times. I'm returning the favor.",
                "One of my friends motivated me to help the Protectorate. It has been hard work, but I hope it pays off!",

                "We've been doing a lot of stuff as of late.",
                "I've never thought about how messy cargo storage can be, it certainly took me by surprise.",
                "Some volunteers are filling paperwork roles, been really important.",
                "Me? Well, I know a couple of things when it comes to ship engines, so that's were I've been helping.",
                "Sometimes I do gardening, which doesn't sound like much, but it's helpful if you have a greenhouse.",
                "Tailoring is just a hobby of mine but I've been repairing uniforms very often, one doesn't think how often they get torn.",
                "I'm a cook. A really good one.",
                "I've been learning to mediate and negotiate like a Protector, it's really hard!",
                "I have accompanied some Protectors to help with diplomatic situations, I'm still learning the ins and outs of them.",
                "I have accompanied some Envoys to help with diplomatic situations, I think we were all figuring it out.",
                "One would think Protector stuff is really easy, I thought it was just talking and hugging it out.",

                "I don't think I ever went to Earth. Guess I never will.",
                "Do you think what happened to Earth could happen to other planets too?",
                "Who could have destroyed the Earth? I don't think those Occasus idiots did, they aren't that competent.",
                "I forget sometimes that the Protectorate is in a dire situation, the optimism everyone has really helps.",
                "It doesn't feel like the Protectorate needs help really, but they do, so I try to not forget that fact.",

                "I have heard about Masteroids before, but I didn't know how annoying they are.",
                "This has been a great opportunity to visit new planets!",
                "It's nice to volunteer for the Protectorate, you get to see a lot of unique places and people.",
                "How many new settlements have I visited? I lost count already.",
                "You get to know new people in this job, I have made a lot of friends already!",
                "Before volunteering I didn't get to travel that often, now travelling is the thing I do the most!",
                "People keep saying there are Bobfaes out in space, that's just not true! It's impossible!",
                "There are a lot of space travelers out there, it's always nice to meet a new one.",
                "This is the first time I've traveled in a spaceship. It's just as cool as I imagined it would be!",
                "This is the first time I've traveled in a spaceship. I thought it would be better than it actually is.",
                "There is a small group of people who had never traveled in space ever. I was one of them.",
                "I like to travel, but for once, I would like to settle down just for a couple days.",
                "Traveling this much was exciting at first, but now it's more tiring than anything.",
                "Traveling on land is already tiring, traveling in space is even more so!",
                "I've heard we were going to make a stop at one of the camps soon, hopefully for some rest.",
                "Right now we have been hopping from one system to another.",
                "We are starting our traveling cycle again, you know, to give out supplies and such.",
                "We are close to the end of our traveling cycle, we need to resupply ourselves with more goods."
            ],
            "default": [
                "Sorry, I'm kinda busy right now."
            ]
        },
        "floran": {
            "generic": [
                "Floran joined to return favor to the Protectorate.",
                "Floran never thought the Protectorate could ever need help, but that moment hass arrived!",
                "Floran thinksss the galaxy is better with Protectorate than without Protectorate. That's why Floran helps!",
                "Floran joined because Protectorate helped Floran tribe, so Floran returns help.",
                "Floran friends motivated <selfname> to help the Protectorate. It's a lot of hard work, Floran hopes itss worth it.",

                "Volunteers have been doing a lot of ssstuff.",
                "Floran didn't know about cargo storing, it's needlessly messsy.",
                "Volunteers are doing paper work, and Floran just understood how important it isss.",
                "Floran has repaired ship enginesss before, Floran know about them.",
                "Floran knows a lot about plantsss, very helpful if you have greenhouse.",
                "Sewing is one of many skills Floran has. Uniformsss get torn too much, so Floran stitch them back together.",
                "Floran knows how to cook. Floran isss really good at cooking.",
                "Floran has learned to be like Protectors. It'sss hard!",
                "Floran has accompanied Protectorsss to help with diplomacy, Floran has a lot to learn about it.",
                "Floran has accompanied Envoysss to help with diplomacy, all of us have a lot to learn about it.",
                "Floran thought Protector stuff was really easssy, but it's more than just talking and hugging each other.",

                "Floran never went to Earth.",
                "You think what happened to Earth could happen to other planetsss?",
                "Who could have destroyed Earth? Floran does not believe Occasusss did it, they are too bad at stuff.",
                "Floran forgets that the Protectorate is in a dire situation, the optimism everybody has helpsss.",
                "Doesn't feel like Protectorate needs help, but they do, Floran triesss to not forget that.",

                "Floran has heard about Masteroidsss, do you think they are hard to hunt?",
                "Volunteering is great for visssiting new planets!",
                "Floran likes to volunteer for Protectorate, you can ssee a lot of unique places and people.",
                "How many new tribesss have Floran visited? Floran has lost count already.",
                "Floran has made a lot of friendsss!",
                "Floran didn't get to travel a lot before being volunteer, now Floran travelsss a lot!",
                "Floran hears people saying there are Bobfaes in space, Floran thinksss that's impossible!",
                "There are a lot of space travelersss, it's nice to meet a new one.",
                "Floran travels in a ssspaceship for the first time. Is very cool, just as Floran imagined it.",
                "Floran travels in a ssspaceship for the first time. Floran doesn't really like it.",
                "Floran knowsss some people have never traveled in space. Floran was one of them.",
                "Floran likes to travel, yet Floran would like to ressst for a while now.",
                "Traveling was exciting at first, but now it'sss very tiring.",
                "Traveling on land is tiring, traveling in ssspace is even more!",
                "Floran heard we are stopping at one of the campsss soon, Floran hopesss to rest there.",
                "We have been hopping from one sssystem to another.",
                "We are starting our traveling cycle again to give out goodsss.",
                "We are close to the end of our traveling cycle, we need to get more goodsss."
            ],
            "default": [
                "Ssstrange thing."
            ]
        },
        "glitch": {
            "generic": [
                "Explicative. Why did I join in? I guess I wanted to return the favor.",
"Reflective. I never thought the Protectorate could ever need our help, yet here we are!",
"Logical. Well, having the Protectorate is way better than not having it, so that's why I'm helping!",
"Inspired. I joined up because the Protectorate helped my community many times. I'm returning the favor.",
"Motivated. One of my friends motivated me to help the Protectorate. It has been hard work, but I hope it pays off!",

"Absorbed. We've been doing a lot of stuff as of late.",
"Reflective. I've never thought about how messy cargo storage can be, it certainly took me by surprise.",
"Informative. Some volunteers are filling paperwork roles, been really important.",
"Explicative. Me? Well, I know a couple of things when it comes to ship engines, so that's where I've been helping.",
"Explicative. Sometimes I do gardening, which doesn't sound like much, but it's helpful if you have a greenhouse.",
"Absorbed. Tailoring is just a hobby of mine but I've been repairing uniforms very often, one doesn't think how often they get torn.",
"Decided. I'm a cook. A really good one.",
"Excited. I've been learning to mediate and negotiate like a Protector, it's really hard!",
"Thoughtful. I have accompanied some Protectors to help with diplomatic situations, I'm still learning the ins and outs of them.",
"Thoughtful. I have accompanied some Envoys to help with diplomatic situations, I think we were all figuring it out.",
"Reflective. One would think Protector stuff is really easy, I thought it was just talking and hugging it out.",

"Disappointed. I don't think I ever went to Earth. Guess I never will.",
"Anxious. Do you think what happened to Earth could happen to other planets too?",
"Concerned. Who could have destroyed the Earth? I don't think those Occasus idiots did, they aren't that competent.",
"Optimistic. I forget sometimes that the Protectorate is in a dire situation, the optimism everyone has really helps.",
"Uplifted. It doesn't feel like the Protectorate needs help really, but they do, so I try to not forget that fact.",

"Annoyed. I have heard about Masteroids before, but I didn't know how annoying they are.",
"Excited. This has been a great opportunity to visit new planets!",
"Fulfilled. It's nice to volunteer for the Protectorate, you get to see a lot of unique places and people.",
"Thoughtful. How many new settlements have I visited? I lost count already.",
"Joyful. You get to know new people in this job, I have made a lot of friends already!",
"Fulfilled. Before volunteering I didn't get to travel that often, now travelling is the thing I do the most!",
"Annoyed. People keep saying there are Bobfaes in space, that's just not true! It's impossible!",
"Excited. There are a lot of space travelers out there, it's always nice to meet a new one.",
"Fulfilled. This is the first time I've traveled in a spaceship. It's just as cool as I imagined it would be!",
"Disappointed. This is the first time I've traveled in a spaceship. I thought it would be better than it actually is.",
"Informative. There is a small group of people who had never traveled in space ever. I was one of them.",
"Tired. I like to travel, but for once, I would like to settle down just for a couple days.",
"Disappointed. Traveling this much was exciting at first, but now it's more tiring than anything.",
"Explicative. Traveling on land is already tiring, traveling in space is even more so!",
"Expectant. I've heard we were going to make a stop at one of the camps soon, hopefully for some rest.",
"Informative. Right now we have been hopping from one system to another.",
"Explicative. We are starting our traveling cycle again, you know, to give out supplies and such.",
"Explicative. We are close to the end of our traveling cycle, we need to resupply ourselves with more goods."
            ],
            "default": [
                "Confusion. What manner of being are you?"
            ]
        },
        "novakid": {
            "generic": [
                "Why I joined in? Well, I wanted to return the favor.",
                "Never reckoned the Protectorate could ever need help, yet here we are!",
                "Well, havin' the Protectorate is better than not, so that's why I'm helpin' here!",
                "I joined in because the Protectorate helped my town out a lot. I'm returnin' the favor.",
                "One of my partners motivated me to help the Protectorate. It ain't easy, so I sure hope it pays off!",

                "We've been doin' lots o' stuff lately.",
                "Ain't thought about how messy cargo storage can be, it certainly caught me by surprise.",
                "Some volunteers are fillin' paperwork roles, I guess they're real important.",
                "I know a couple of things when it comes to ship engines, so that's were I've been helping.",
                "Sometimes I do gardenin', which doesn't sound like somethin' us Novakids do, but I do know.",
                "Tailorin' was just a hobby of mine but I've been repairin' uniforms very often, one doesn't think how often they get torn.",
                "I'm a cook. A mighty fine one.",
                "I've been learnin' to mediate and negotiate like a Protector, quite hard!",
                "I've accompanied some Protectors to help with diplomatic situations, I'm still learnin' the ways of it.",
                "I have accompanied some Envoys to help with diplomatic situations, I think we were all figuring it out.",
                "One thinks Protector stuff is really easy and all, but it's hard to get out of the whole \"shoot first, ask later\" mentality.",

                "I don't think I ever went to Earth. Guess that ain't happenin' for me now.",
                "Do you think what happened to Earth could happen to other planets too?",
                "Who could have destroyed the Earth? I don't think those Occasus idiots did, they ain't that competent.",
                "I forget sometimes that the Protectorate is in a dire situation, the optimism everyone has really helps. And my memory too of course.",
                "It doesn't feel like the Protectorate needs help really, but they do, so I try to not forget that fact.",

                "I have heard about Masteroids, but I didn't about how annoyin' they are.",
                "This has been a great opportunity to visit new planets!",
                "It's nice to volunteer for the Protectorate, you get to see a lot o' unique places and people.",
                "How many new settlements have I visited? I forgot already.",
                "You get to know new people in this line o' work, I've made a lot of friends already!",
                "Before volunteerin' I ain't get to travel that often, now travellin' is the thing I do the most!",
                "People keep sayin' there are Bobfaes out in space, that's just ain't true! It's impossible!",
                "There sure are a lot of space travelers, it's always nice to meet a new one.",
                "This is my first time in a spaceship. Just as awesome as I imagined it would be!",
                "This is my first time in a spaceship. I thought it would be better than it is.",
                "There is a small crowd of people who has never traveled in space ever. I was one of those fellows.",
                "I like to travel, but for once, I would like to settle down just for a couple days.",
                "Travelin' this much was exciting at first, but now it's real tirin'!",
                "Travelin' on land is already tirin', travelin' in space is even more so!",
                "I've heard we were going to make a stop at one of them camps soon, hopefully for some rest.",
                "Right now we've been hoppin' from one system to another.",
                "We are starting our travelin' cycle again, you know, to give out supplies and such.",
                "We are close to the end of our travelin' cycle, we need to resupply ourselves with more goods."
            ],
            "default": [
                "I ain't seen any folk like you before. What in tarnation are you?"
            ]
        }
    }
}
