{
  "hail" : {
    "default" : {
    	"default" : [
	      "Remember to be polite.",
	      "Don't run on the halways.",
	      "Just behave nicely, ok?",
	      "Don't give us any problems.",
		  "Hey! be nice.",
		  "Please behave, I don't want to deal with anybody else.",
		  "You aren't a troublemaker, right?",
		  "We welcome you, but don't give us problems.",
		  "Haven't seen you here.",
		  "Remember to be nice while you are here!",
		  "Are you new here?",
		  "You know the rules here, right?",
		  "Hey, just be polite ok?"
      ]
    },
    "glitch" : {
      "default" : [
        "Serious. Remember to be polite.",
        "Strict. Don't run on the halways.",
        "Inexperienced. Just behave nicely, ok?",
        "Alert. Don't give us any problems.",
        "Uplifting. Hey! be nice.",
        "Irritated. Please behave, I don't want to deal with anybody else.",
        "Worried. You aren't a troublemaker, right?",
        "Reserved. We welcome you, but don't give us problems.",
        "Unsurprised. Haven't seen you here.",
        "Optimistic. Remember to be nice while you are here!",
        "Surprised. Are you new here?",
        "Concerned. You know the rules here, right?",
        "Reserved. Just be polite, ok?"
      ]
    },
    "floran" : {
      "default" : [
        "Be polite like <selfname> iss polite.",
        "Don't run on the halwayss.",
        "Be nice and <selfname> will be nice too.",
        "<selfname> don't want any problemss.",
        "Please behave, <selfname> is tired of ssilly people.",
        "Don't be a troublemaker, be calm like <selfname>!",
        "<selfname> hasn't seen your face.",
        "Are you new here?",
        "You know the ruless, right?",
        "Be polite and <selfname> wont give you problems."
      ]
    }
  }
}