{
  "filter" : [ "iwrmp_prtccraftingtable" ],
  "titleFromEntity" : true,
  "requiresBlueprint" : false,
  "craftingSound" : "/sfx/interface/crafting_tech2.ogg",
  "paneLayout" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/crafting/prtccraftingtable_header.png",
      "fileBody" : "/interface/crafting/prtccraftingtable_body.png",
      "fileFooter" : "/interface/crafting/prtccraftingtable_footer.png"
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [321, 261]
    },
    "windowtitle" : {
      "type" : "title",
      "title" : " Remote Protectorate Trade Terminal",
      "subtitle" : " ^cyan;Protectorate Goods sent directly to your door!",
      "position" : [-5, 252],
      "icon" : {
        "type" : "image",
        "file" : "/interface/crafting/prtccraftingtable_crafting.png",
        "position" : [0, -20],
        "zlevel" : -1
      }
    },
    "bgShine" : {
      "type" : "image",
      "file" : "/interface/crafting/shine.png",
      "position" : [-15, 0],
      "zlevel" : -10
    },
    "lblSchematics" : {
      "type" : "label",
      "position" : [88, 243],
      "hAnchor" : "mid",
      "value" : "^cyan;BLUEPRINTS"
    },
    "lblProducttitle" : {
      "type" : "label",
      "position" : [265, 243],
      "hAnchor" : "mid",
      "value" : "^cyan;PRODUCT"
    },
    "spinCount" : {
      "type" : "spinner",
      "position" : [220, 46],
      "upOffset" : 36
    },
    "tbSpinCount" : {
      "type" : "textbox",
      "position" : [232, 46],
      "textAlign" : "center",
      "maxWidth" : 16,
      "regex" : "x?\\d{0,4}",
      "hint" : ""
    },
    "imgAmountInput" : {
      "type" : "image",
      "file" : "/interface/crafting/prtc_amount.png",
      "position" : [226, 45],
      "zlevel" : -3
    },
    "btnCraft" : {
      "type" : "button",
      "base" : "/interface/crafting/prtc_button.png",
      "hover" : "/interface/crafting/prtc_buttonhover.png",
      "position" : [271, 43],
      "caption" : "Buy"
    },
    "btnStopCraft" : {
      "type" : "button",
      "base" : "/interface/crafting/prtc_buttonactive.png",
      "hover" : "/interface/crafting/prtc_buttonactivehover.png",
      "position" : [271, 43],
      "caption" : "Stop"
    },
    "imgCraftBg" : {
      "type" : "image",
      "file" : "/interface/crafting/prtc_craftbg.png",
      "position" : [196, 40],
      "zlevel" : -5
    },
    "currentRecipeIcon" : {
      "type" : "itemslot",
      "callback" : "null",
      "position" : [197, 41]
    },
    "btnFilterHaveMaterials" : {
      "type" : "button",
      "base" : "/interface/crafting/prtc_checkboxnocheck.png",
      "baseImageChecked" : "/interface/crafting/prtc_checkboxcheck.png",
      "checkable" : true,
      "checked" : false,
      "position" : [47, 59]
    },
    "lblProduct" : {
      "type" : "label",
      "position" : [58, 58],
      "hAnchor" : "left",
      "value" : "^cyan;PIXELS AVAILABLE"
    },

    "scrollArea" : {
      "type" : "scrollArea",
      "rect" : [5, 69, 174, 221],
      "children" : {
        "itemList" : {
          "type" : "list",
          "schema" : {
            "selectedBG" : "/interface/crafting/prtccraftableselected.png",
            "unselectedBG" : "/interface/crafting/prtccraftablebackground.png",
            "spacing" : [0, 1],
            "memberSize" : [159, 20],
            "listTemplate" : {
              "background" : {
                "type" : "image",
                "file" : "/interface/crafting/prtccraftablebackground.png",
                "position" : [2, 0],
                "zlevel" : -1
              },
              "itemName" : {
                "type" : "label",
                "position" : [25, 5],
                "hAnchor" : "left",
                "wrapWidth" : 116,
                "value" : "Replace Me"
              },
              "itemIcon" : {
                "type" : "itemslot",
                "position" : [3, 1],
                "callback" : "null"
              },
              "newIcon" : {
                "type" : "image",
                "position" : [119, 5],
                "file" : "/interface/crafting/new.png",
                "zlevel" : 2
              },
              "moneyIcon" : {
                "type" : "image",
                "position" : [122, 1],
                "file" : "/interface/money.png"
              },
              "priceLabel" : {
                "type" : "label",
                "position" : [134, 1],
                "hAnchor" : "left",
                "value" : "0"
              },
              "notcraftableoverlay" : {
                "type" : "image",
                "file" : "/interface/crafting/prtcnotcraftableoverlay.png",
                "position" : [2, 0],
                "zlevel" : 1
              }
            }
          }
        }
      }
    },
    "description" : {
      "type" : "widget",
      "position" : [190, 41],
      "size" : [140, 220]
    },
    "filter" : {
      "type" : "textbox",
      "position" : [60, 43],
      "hint" : "Search",
      "maxWidth" : 70,
      "escapeKey" : "close",
      "enterKey" : "filter",
      "focus" : false
    },
    "lblClothesTab" : {
      "type" : "image",
      "file" : "/interface/crafting/prtctabicon_clothes.png",
      "position" : [19, 223],
      "zlevel" : 3
    },
    "lblCodexTab" : {
      "type" : "image",
      "file" : "/interface/crafting/prtctabicon_furniture.png",
      "position" : [48, 223],
      "zlevel" : 3
    },
    "lblColonyTab" : {
      "type" : "image",
      "file" : "/interface/crafting/prtctabicon_colony.png",
      "position" : [74, 223],
      "zlevel" : 3
    },
    "categories" : {
      "type" : "radioGroup",
      "toggleMode" : false,
      "buttons" : [
        {
          "selected" : true,
          "position" : [18, 221],
          "baseImage" : "/interface/crafting/prtc_unselectedTab.png",
          "baseImageChecked" : "/interface/crafting/prtc_selectedTab.png",
          "data" : {
            "filter" : [ "prtccraftingtable_clothes" ]
          }
        },
        {
          "position" : [45, 221],
          "baseImage" : "/interface/crafting/prtc_unselectedTab.png",
          "baseImageChecked" : "/interface/crafting/prtc_selectedTab.png",
          "data" : {
            "filter" : [ "prtccraftingtable_furniture" ]
          }
        },
        {
          "position" : [72, 221],
          "baseImage" : "/interface/crafting/prtc_unselectedTab.png",
          "baseImageChecked" : "/interface/crafting/prtc_selectedTab.png",
          "data" : {
            "filter" : [ "prtccraftingtable_colony" ]
          }
        }
      ]
    },
    "rarities" : {
      "type" : "radioGroup",
      "toggleMode" : true,
      "buttons" : [
      ]
    }
  }
}
